{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block breadcrums %}
<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">
        <a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
            <i class="ki-outline ki-home text-gray-700 fs-6"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">VcStartup Connect</li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Request</li>
    <!--end::Item-->
</ul>
<!--end::Breadcrumb-->
{% endblock %}

{% block pageheading %}
VcStartup Connect
{% endblock %}

{% block pagedescription %}
request
{% endblock %}

{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row g-7 justify-content-center">
            <div class="col-lg-6 col-xl-6">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <!--begin::Card header-->
                    <div class="card-header pt-7" id="kt_chat_contacts_header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h1>Meeting Request Updation</h1>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {{ form.media }} 
                                <button type="submit" class="btn btn-primary mt-3" style="color: white;"><a href="{% url 'vcstartup_meeting_request_list' %}">Submit</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
{% endblock %}
