{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>iTNT Innovation portal</title>
		<meta charset="utf-8" />
		<meta name="description" content="iTHT Hub Innovation Portal" />
		<meta name="keywords" content="iTNT,itnthub,innovation-portal,jigsaw" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="iTNT Innovation portal" />
		<meta property="og:url" content="https://itnthub.tn.gov.in" />
		<meta property="og:site_name" content="iTNT Hub - JIGSAW" />
		<link rel="canonical" href="https://itnthub.tn.gov.in/dashboard" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
	</head>
	<body id="kt_body" class="app-blank">
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<div class="d-flex flex-column flex-root" id="kt_app_root">

			<div class="d-flex flex-column flex-lg-row flex-column-fluid stepper stepper-pills stepper-column stepper-multistep" id="kt_create_account_stepper">

				<div class="d-flex flex-column flex-lg-row-auto w-lg-350px w-xl-500px">
					<div class="d-flex flex-column position-lg-fixed top-0 bottom-0 w-lg-350px w-xl-500px scroll-y bgi-size-cover bgi-position-center" style="background-image: url({% static 'assets/media/misc/auth-bg.png'%})">

						<div class="d-flex flex-center py-10 py-lg-20 mt-lg-20">
							<a href="/">
								<img alt="Logo" src="{% static 'assets/media/logos/custom-1.png' %}" class="h-90px" />
								<h1 style="color: #FFFFFF !important;">Startup Registration</h1>
							</a>
						</div>

						<div class="d-flex flex-row-fluid justify-content-center p-10">

							<div class="stepper-nav">

								<div class="stepper-item current" data-kt-stepper-element="nav">

									<div class="stepper-wrapper">
	
										<div class="stepper-icon rounded-3">
											<i class="ki-outline ki-check fs-2 stepper-check"></i>
											<span class="stepper-number">1</span>
										</div>
			
										<div class="stepper-label">
											<h3 class="stepper-title fs-2">Startup information</h3>
											<div class="stepper-desc fw-normal">Fill in your startup information</div>
										</div>
		
									</div>
	
									<div class="stepper-line h-40px"></div>
			
								</div>


								<div class="stepper-item" data-kt-stepper-element="nav">
			
									<div class="stepper-wrapper">
				
										<div class="stepper-icon rounded-3">
											<i class="ki-outline ki-check fs-2 stepper-check"></i>
											<span class="stepper-number">2</span>
										</div>
				
										<div class="stepper-label">
											<h3 class="stepper-title fs-2">Additional Information</h3>
											<div class="stepper-desc fw-normal">please fill in your additional details</div>
										</div>
					
									</div>
									<div class="stepper-line h-40px"></div>
						
								</div>

								<div class="stepper-item" data-kt-stepper-element="nav">
			
									<div class="stepper-wrapper">
				
										<div class="stepper-icon rounded-3">
											<i class="ki-outline ki-check fs-2 stepper-check"></i>
											<span class="stepper-number">3</span>
										</div>
				
										<div class="stepper-label">
											<h3 class="stepper-title fs-2">Submit</h3>
											<div class="stepper-desc fw-normal">Details submission</div>
										</div>
					
									</div>
						
								</div>

							</div>

						</div>

						<div class="d-flex flex-center flex-wrap px-5 py-10">
							<a href="#" class="stepper-title fs-2 px-5" style="color: #FFFFFF !important;" data-bs-toggle="modal" data-bs-target="#support_modal">Help & Support</a>

							{% comment %} <div class="d-flex fw-normal">
								<a href="https://itnthub.tn.gov.in/theme-engine" class="text-success px-5" target="_blank">Terms</a>
								<a href="https://itnthub.tn.gov.in/theme-engine/devs" class="text-success px-5" target="_blank">Plans</a>
								<a href="https://itnthub.tn.gov.in/theme-engine/market" class="text-success px-5" target="_blank">Contact Us</a>
							</div> {% endcomment %}

						</div>

					</div>
				</div>

				<div class="d-flex flex-column flex-lg-row-fluid py-10">

					<div class="d-flex flex-center flex-column flex-column-fluid">

						<div class="w-lg-650px w-xl-700px p-10 p-lg-15 mx-auto">
							<!--begin::Form-->
							<form class="my-auto pb-5" action="{% url 'startup_registration' %}" novalidate="novalidate" id="kt_create_account_form">
								
								<!--begin::Step 1-->
								<div class="current" data-kt-stepper-element="content">
									<!--begin::Wrapper-->
									<div class="w-100">
										<!--begin::Heading-->
										<div class="pb-10 pb-lg-12">
											<!--begin::Title-->
											<h2 class="fw-bold text-gray-900">Startup Details</h2>
											<!--end::Title-->
											<!--begin::Notice-->
											<div class="text-muted fw-semibold fs-6">Know more about registration process on this
											<a href="#" class="link-primary fw-bold">link</a>.</div>
											<!--end::Notice-->
										</div>
										<!--end::Heading-->
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Startup Company Name</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="name" class="form-control form-control-lg form-control-solid" placeholder="Your company name" value="" />
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Co Founders Count</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="co_founder_count" class="form-control form-control-lg form-control-solid" placeholder="3" value="" />
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Team size</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="team_size" class="form-control form-control-lg form-control-solid" placeholder="4" value="" />
											<!--end::Input-->
										</div>
										{% comment %} <div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Market size</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="market_size" class="form-control form-control-lg form-control-solid" style="min-height: calc(1.5em + 1.65rem + 60px) !important; white-space: pre;" placeholder="Behavioral Health Care Software and Services Market (2020): roughly ca. 2 bn (10-20% CAGR) – depending on the source" value="" />
											<!--end::Input-->
										</div> {% endcomment %}
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Funding request amount ( In USD )</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="required_amount" class="form-control form-control-lg form-control-solid" placeholder="10000" value="" type="number"/>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Year of establishment</label>
											<!--end::Label-->
											<!--begin::Inputs-->
											<div class="row">
												<!-- Year Dropdown -->
												<div class="col">
													<select id="founding_year" name="founding_year" class="form-select form-select-lg form-select-solid">
														<!-- Generate options from 2000 to 2024 -->
														<option value="">Select Year</option>
														{% for year in startup_years %}
														<option value="{{ year }}">{{ year }}</option>
													{% endfor %}
													</select>
												</div>
											</div>
											<!--end::Inputs-->
										</div>
										
										{% comment %} <div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Founding experience</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="founding_experience" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true">
												<option>Select</option>
												<option value="True">Yes</option>
												<option value="False">No</option>
											</select>
											<!--end::Input-->
										</div> {% endcomment %}
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label">DPIIT Number</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="dpiit_number" class="form-control form-control-lg form-control-solid" placeholder="DIPP123456" value="DIPP" />
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--end::Label-->
											<label class="form-label required">Description</label>
											<!--end::Label-->
											<!--begin::Input-->
											<textarea name="description" class="form-control form-control-lg form-control-solid" rows="3"></textarea>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10" data-district-url="https://itnthub.tn.gov.in{% url 'districts' %}"   data-district-urlid="districtslink">
											<!--begin::Label-->
											<label class="form-label required">State</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="location_state" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false" onchange="fetchDistricts(this.value)">
												<option value="">Select state</option>
												{% for state in states %}
												<option value="{{state.state_id}}">{{state.state_value}}</option>
												{%endfor%}
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">District</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select id="districtshere" name="location_district" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false">
												<option value=""></option>
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Area of interest for collaboration</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="collaboration_sector" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false">
												{% for area_of_interest in area_of_interests %}
												<option value="{{area_of_interest.area_of_interest_id}}">{{area_of_interest.area_of_interest_value}}</option>
												{%endfor%}
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Preferred Investment Stage</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="funding_stage_id" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false">
												{% for preferred_investment_stage in preferred_investment_stages %}
												<option value="{{preferred_investment_stage.id}}">{{preferred_investment_stage.value}}</option>
												{%endfor%}
											</select>
											<!--end::Input-->
										</div>

										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Funds raised by the startup</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="fund_raised_id" id="fund_raised_id" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false" onchange="handleFundRasiedSelectionChange()">
												{% for fundraised in fundraised_values %}
												<option value="{{fundraised.id}}" data-value="{{fundraised.value}}">{{fundraised.value}}</option>
												{%endfor%}
											</select>
											<input id="fund_raised_input" type="number" name="fund_raised_input" class="form-control form-control-lg form-control-solid" placeholder="Please enter the value in USD , 10000" style="display: none; margin-top: 10px !important;" required />
											<!--end::Input-->
										</div>

										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Primary Business model</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="primary_business_model_id" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false" onchange="displayDescription()">
												{% for primary_business_model in primary_business_models %}
												<option value="{{primary_business_model.id}}">{{primary_business_model.value}}</option>
												{%endfor%}
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Incubator</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="incubator" class="form-control form-control-lg form-control-solid" placeholder="Incubator name" />
											<!--end::Input-->
										</div>
										<button type="button" id="addIncubatorBtn" class="btn btn-primary mt-2">Add another incubator</button>

										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Customer size</label>
											<!--end::Label-->
											<!--begin::Input-->
											<select name="customer_size" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false">
												<option value="0-5">0-5</option>
												<option value="5-10">5-10</option>
												<option value="10-15">10-15</option>
												<option value="15-20">15-20</option>
												<option value="20-25">20-25</option>
												<option value=">25">>25</option>
											</select>
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<label class="form-label required">Revenue Stage</label>
											<select name="reveune_stage_id" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false">
												{% for revenue_stage in revenue_stages %}
												<option value="{{revenue_stage.id}}">{{revenue_stage.value}}</option>
												{%endfor%}
											</select>
										</div>
										<div class="fv-row mb-10">
											<label class="form-label required">Startup Development Stage (Please read the description and upload the document)</label>
											<select name="product_development_stage_id" id="product_development_stage_id" class="form-select form-select-lg form-select-solid" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="false" onchange="displayDescription()">
												{% for product_development_stage in product_development_stages %}
												<option value="{{product_development_stage.id}}" data-description="{{product_development_stage.description}}">{{product_development_stage.value}}</option>
												{% endfor %}
											</select>
										</div>
										
										<div class="fv-row mb-10">
											<div class="info" id="description_info">
												<p></p>
											</div>
										</div>
										<div class="fv-row mb-10">
											<label class="form-label">Please provide support (pdf) document for the startup development stage</label>
											<div class="card h-100 flex-center bg-light-primary border-primary border border-dashed p-8">
												<!--begin::Image-->
												<img src="{% static 'assets/media/svg/files/upload.svg' %}" class="mb-5" alt="" />
												<!--end::Image-->
												<!--begin::Link-->
												<input type="file" name="product_development_stage_document"  id="productDevelopmentStageDocumentFile" class="text-hover-primary fs-5 fw-bold mb-2">
												<!--end::Link-->
											</div>
											<!--end::Card-->
										</div>

										
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Step 1-->
								<!--begin::Step 2-->
								<div class="" data-kt-stepper-element="content">
									<!--begin::Wrapper-->
									<div class="w-100">
										<!--begin::Heading-->
										<div class="pb-10 pb-lg-15">
											<!--begin::Title-->
											<h2 class="fw-bold text-gray-900">PoC Information</h2>
											<!--end::Title-->
											<!--begin::Notice-->
											<div class="text-muted fw-semibold fs-6">Point of contact details</div>
											<!--end::Notice-->
										</div>
										
										<div id="founderNamesContainer">
											<div class="fv-row mb-10 founder-input-group">
											
												<label class="form-label required">Co-Founder Name</label>
												<input type="text" class="form-control form-control-lg form-control-solid founder-name-input" data-id="founder_name" placeholder="Founder Name" value="" />
												<label class="form-label required">Email</label>
												<input type="email" class="form-control form-control-lg form-control-solid founder-email-input" data-id="email" placeholder="email@domain.com" value="" />
												<label class="form-label">LinkedIn Profile Link</label>
												<input type="email" class="form-control form-control-lg form-control-solid founder-linkedin-input" data-id="linkedin" placeholder="https://www.linkedin.com/in/profile-link-123" value="" />
												<label class="form-label required">Mobile</label>
												<input type="tel" pattern="[0-9]{10}" class="form-control form-control-lg form-control-solid founder-mobile-input" data-id="mobile" placeholder="9876543210" value="" />
												<label class="form-label required">Gender</label>
													<select data-id="gender" class="form-select form-select-lg form-select-solid founder-gender-input" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true">
														<option>Select gender</option>
														<option value="male">Male</option>
														<option value="female">Female</option>
													</select>
											</div>
											<button type="button" id="addFounderBtn" class="btn btn-primary mt-2">Add Co-Founder</button>
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label ">Website</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input type="text" class="form-control form-control-lg form-control-solid" name="company_website" placeholder="Company website" value="" />
				
											<!--end::Input-->
										</div>
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label">Company LinkedIN</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input name="company_linkedin" class="form-control form-control-lg form-control-solid" placeholder="company linkedin url" value="" />
											<!--end::Input-->
										</div>
										<!--end::Input group-->

										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label" >Video link</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input type="text" class="form-control form-control-lg form-control-solid" name="video_link" placeholder="Please enter your video link" value="" />
											{% csrf_token %}
											<!--end::Input-->
										</div>
										{% comment %} <div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Short video link</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input type="text" class="form-control form-control-lg form-control-solid" name="short_video_link" placeholder="Youtube video ID" value="" />
											<!--end::Input-->
										</div>
										<!--end::Input group--> {% endcomment %}
										{% comment %} <!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="form-label required">Pitch deck</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input type="text" class="form-control form-control-lg form-control-solid" name="pitch_deck" placeholder="pitch deck" value="" />
											<!--end::Input-->
										</div>
										
					
										<!--end::Input group--> {% endcomment %}
										<!--begin::Card-->
										<div class="fv-row mb-10">
											<label class="form-label required">Please upload the Pitch deck in pdf file format</label>
											<div class="card h-100 flex-center bg-light-primary border-primary border border-dashed p-8">
												<!--begin::Image-->
												<img src="{% static 'assets/media/svg/files/upload.svg' %}" class="mb-5" alt="" />
												<!--end::Image-->
												<!--begin::Link-->
												<input type="file" name="pitch_deck"  id="pitchDeckpdf" class="text-hover-primary fs-5 fw-bold mb-2">
												<!--end::Link-->
											</div>
											<!--end::Card-->
										</div>
										
										<div class="fv-row mb-10">
											<label class="form-label required">Please upload the company logo in png format</label>
											<div class="card h-100 flex-center bg-light-primary border-primary border border-dashed p-8">
												<!--begin::Image-->
												<img src="{% static 'assets/media/svg/files/upload.svg' %}" class="mb-5" alt="" />
												<!--end::Image-->
												<!--begin::Link-->
												<input type="file" name="company_logo"  id="companyLogo" class="text-hover-primary fs-5 fw-bold mb-2">
												<!--end::Link-->
											</div>
											<!--end::Card-->
										</div>
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Step 2-->
								<!--begin::Step 3-->
								<div class="" data-kt-stepper-element="content">
									<!--begin::Wrapper-->
									<div class="w-100">
										<!--begin::Heading-->
										<div class="pb-10 pb-lg-12">
											<!--begin::Title-->
											<h2 class="fw-bold text-gray-900">Registration successfull!</h2>
											<!--end::Title-->
											<div class="mb-10 fv-row">
												<!--begin::Label-->
												<label class="d-flex align-items-center form-label mb-3">Registration Reference ID
												<span class="ms-1" data-bs-toggle="tooltip" title="Please use this reference id if you want to get in touch with us for any query">
													<i class="ki-outline ki-information-5 text-gray-500 fs-6"></i>
												</span></label>
												<!--end::Label-->
												<!--begin::Row-->
												<div class="row mb-2" data-kt-buttons="true">
													<!--begin::Col-->
													<div class="col">
														<!--begin::Option-->
														<label class="btn btn-outline btn-outline-dashed btn-active-light-primary w-100 p-4">
															<input type="radio" class="btn-check" name="account_team_size" value="1-1" />
															<span class="fw-bold fs-3" id="registrationIdDisplay">Reference Value</span>
														</label>
														<!--end::Option-->
													</div>
													<!--end::Col-->
												</div>
												<!--end::Row-->
												<!--begin::Notice-->
												<div class="text-muted fw-semibold fs-6">You will soon get login credentails over email </div>
												<!--end::Notice-->
											</div>
										</div>
										<!--end::Heading-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Step 3-->
								
								<!--begin::Actions-->
								<div class="d-flex flex-stack pt-15">
									<div class="mr-2">
										<button type="button" class="btn btn-lg btn-light-primary me-3" data-kt-stepper-action="previous">
										<i class="ki-outline ki-arrow-left fs-4 me-1"></i>Previous</button>
									</div>
									<div>
										<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="submit">
											<span class="indicator-label">Submit 
											<i class="ki-outline ki-arrow-right fs-4 ms-2"></i></span>
											<span class="indicator-progress">Please wait... 
											<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
										</button>
										<button type="button" class="btn btn-lg btn-primary" data-kt-stepper-action="next">Continue 
										<i class="ki-outline ki-arrow-right fs-4 ms-1"></i></button>
									</div>
								</div>
								<!--end::Actions-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Wrapper-->
					</div>
					<!--end::Content-->
				</div>
				<!--end::Body-->
			</div>
			<!--end::Authentication - Multi-steps-->
		</div>
		<!--end::Root-->
		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'assets/js/custom/utilities/modals/startup-registration.js' %}"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				const addFounderBtn = document.getElementById("addFounderBtn");
				const founderNamesContainer = document.getElementById("founderNamesContainer");
			
				addFounderBtn.addEventListener("click", function() {
					const founderInputGroup = document.createElement("div");
					founderInputGroup.className = "fv-row mb-10 founder-input-group";
					founderInputGroup.innerHTML = `
						<label class="form-label required">Co-Founder Name</label>
						<input type="text" class="form-control form-control-lg form-control-solid founder-name-input" data-id="founder_name" placeholder="Founder Name" value="" />
						<label class="form-label required">Email</label>
						<input type="email" class="form-control form-control-lg form-control-solid founder-email-input" data-id="email" placeholder="email@domain.com" value="" />
						<label class="form-label">LinkedIn Profile Link</label>
						<input type="email" class="form-control form-control-lg form-control-solid founder-linkedin-input" data-id="linkedin" placeholder="https://www.linkedin.com/in/profile-link-123" value="" />
						<label class="form-label required">Mobile</label>
						<input type="tel" pattern="[0-9]{10}" class="form-control form-control-lg form-control-solid founder-mobile-input" data-id="mobile" placeholder="9876543210" value="" />
						<label class="form-label required">Gender</label>
						<select data-id="gender" class="form-select form-select-lg form-select-solid founder-gender-input" data-control="select2" data-placeholder="Select..." data-allow-clear="true" data-hide-search="true">
							<option>Select gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
						<button type="button" class="btn btn-danger delete-founder-btn ml-2" style="margin-top: 12px; margin-bottom: 12px;">Delete</button>
					`;
			
					const deleteBtn = founderInputGroup.querySelector(".delete-founder-btn");
					deleteBtn.addEventListener("click", function() {
						founderNamesContainer.removeChild(founderInputGroup);
					});
			
					founderNamesContainer.insertBefore(founderInputGroup, addFounderBtn);
				});
			});
			document.getElementById("addIncubatorBtn").onclick = function() {
				var newIncubatorField = document.createElement("div");
				newIncubatorField.className = "fv-row mb-10";
				newIncubatorField.innerHTML = `
					<label class="form-label required">Incubator</label>
					<input name="incubator" class="form-control form-control-lg form-control-solid" placeholder="Incubator name" />
					<button type="button" class="btn btn-danger mt-2 removeIncubatorBtn">Remove</button>
				`;
			
				// Append new incubator field to the form
				document.getElementById("addIncubatorBtn").insertAdjacentElement("beforebegin", newIncubatorField);
			
				// Add event listener to remove button
				newIncubatorField.querySelector(".removeIncubatorBtn").onclick = function() {
					newIncubatorField.remove();
				};
			};
			function handleFundRasiedSelectionChange() {
				var selectElement = document.getElementById("fund_raised_id");
				var inputElement = document.getElementById("fund_raised_input");
				var selectedOption = selectElement.options[selectElement.selectedIndex];
				var optionDataValue = selectedOption.getAttribute("data-value");
				console.log(optionDataValue);
				if (optionDataValue === "Others (Please specify)") {
					
					inputElement.style.display = "block";
					inputElement.setAttribute("aria-hidden", "false"); // Ensure input is accessible when visible
					inputElement.setAttribute("aria-label", "Other Fund Raised Amount"); // Update aria-label for accessibility
					inputElement.focus(); // Set focus to the input for better user experience
				} else {
					inputElement.style.display = "none";
        			inputElement.setAttribute("aria-hidden", "true"); // Hide input from accessibility when not visible
				}
			}
			function displayDescription() {
				var selectElement = document.getElementById("product_development_stage_id");
				var selectedOption = selectElement.options[selectElement.selectedIndex];
				var description = selectedOption.getAttribute("data-description");
		
				// Display the description in the info div
				var descriptionInfo = document.getElementById("description_info");
				descriptionInfo.innerHTML = '<p>' + description + '</p>';
			}
			function handleFileInputChange(inputId, maxFileSizeInMB) {
				var fileInput = document.getElementById(inputId);
				var maxFileSize = maxFileSizeInMB * 1024 * 1024; // Convert MB to bytes
			
				fileInput.addEventListener("change", function() {
					if (fileInput.files.length > 0) {
						var fileSize = fileInput.files[0].size;
			
						if (fileSize > maxFileSize) {
							alert("The selected file exceeds the maximum allowed size of " + maxFileSizeInMB + " MB.");
							fileInput.value = ""; // Clear the file input
						}
					}
				});
			}
			function fetchDistricts(stateId) {
				var stateMainSelect = document.querySelector('div[data-district-urlid="districtslink"]');
				var districtUrl = stateMainSelect.getAttribute('data-district-url');
				var districtSelect = document.querySelector('select[name="location_district"]');
				fetch(`${districtUrl}?state_id=${stateId}`)
					.then(response => response.json())
					.then(data => {
						// Clear existing options
						districtSelect.innerHTML = '';
						// Add default option
						districtSelect.appendChild(new Option('', ''));
						// Add districts
						data.forEach(district => {
							districtSelect.appendChild(new Option(district.name, district.id));
						});
					})
					.catch(error => console.error('Error fetching districts:', error));
			}
			// Event listener for state dropdown
			document.addEventListener('DOMContentLoaded', function() {
				var stateSelect = document.querySelector('select[name="location_state"]');
				var districtSelect = document.querySelector('select[name="location_district"]');
				stateSelect.addEventListener('change', function() {
					var stateId = this.value;
					if (stateId) {
						fetchDistricts(stateId);
					} else {
						districtSelect.innerHTML = '<option value=""></option>';
					}
				});
			});
			handleFileInputChange("productDevelopmentStageDocumentFile", 25); 
			handleFileInputChange("pitchDeckPdfFile", 25); 
		</script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->
		{% include "support/support.html" %}    
	</body>
	<!--end::Body-->
</html>