<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="itnt,itntportal,portal,landing">
	<meta name="description" content="iTNT Hub Homepage landing">
    <meta property="og:site_name" content="iTNT Hub">
    <meta property="og:url" content="https://itnthub.tn.gov.in">
    <meta property="og:type" content="website">
    <meta property="og:title" content="iTNT Portal Homepage">
	<meta name='og:image' content='https://itnthub.tn.gov.in/images/assets/ogg.png'>
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=1366">	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#1A4137">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#1A4137">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#1A4137">
	<title>iTNT HUB </title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="https://itnthub.tn.gov.in/css/bootstrap.min.css" media="all">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="https://itnthub.tn.gov.in/css/style.css" media="all">
    <link rel="stylesheet" href="https://itnthub.tn.gov.in/css/style3.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="https://itnthub.tn.gov.in/css/responsive.css" media="all">
	<link rel="stylesheet" href="https://itnthub.tn.gov.in/css/events.css">
	<!--workcss-->
	<link rel="stylesheet" href="https://itnthub.tn.gov.in/css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<script src="https://itnthub.tn.gov.in/js/gallery.js"></script>

	<style>
		@keyframes blink-animation {
			50% {
				opacity: 0;
			}
		}
	</style>

</head>

<body>
	<div class="main-page-wrapper">
		<!-- 
		=============================================
				Theme Main Menu
		============================================== 
		-->
		<header class="theme-main-menu menu-overslay menu-style-two sticky-menu">
           
            <div class="bg-white d-flex justify-content-between align-items-center align-content-center px-4">
                <div class="d-flex py-3 gap-3">
                    <div  class="d-flex justify-content-center  align-content-center align-items-center"><a href="https://itnthub.tn.gov.in/index.html"><img style="width: 145px; height: 50px;" src="https://itnthub.tn.gov.in/assets/navbar/iTNT.png" alt=""></a></div>
                    <div class="logo-main "></div>
                    <img style="width:110px; "class="d-flex justify-content-center align-content-center align-items-center"class="d-flex justify-content-center align-content-center align-items-center" src="https://itnthub.tn.gov.in/assets/ongoing-img.png" alt="">
                    
                </div>
                <div class="d-flex justify-content-center text-center align-content-center align-items-center ">
					<div class="d-flex justify-content-center text-center align-content-center align-items-center gap-5">
						<a href="#Overview"><h5>About</h5></a>
						<a href="#Benefits"><h5>Benefits</h5></a>
						<a href="#Focus"><h5>Focus Area</h5></a>
						<a href="#Eligity"><h5>Eligibity</h5></a>
						<a href="#Timeline"><h5>Timeline</h5></a>
						<a href="{% url 'logout' %}"><h5>Logout</h5></a>
						<!-- <a href="#"><h5>Outcomes</h5></a> -->
					</div>
                   
                </div>
                   
                
                <div class="d-flex justify-content-end align-content-center  px-5 ">
                    <img style="width: 45px" src="https://itnthub.tn.gov.in/assets/onging-img2.png" alt="">
                    <!-- <div class="logo-main "></div>
                    <a href="#"><img style="width: 150px;" class="d-flex justify-content-center align-content-center align-items-center" src="/assets/ongoing-img.png" alt=""></a> -->
                    
                </div>
            </div>
			
			
		</header>
        
        
        <!-- <section class="ongoing-challenge  ">
           <div class=" d-block justify-content-center text-center position-absolute align-content-center align-items-center  ">
             <div style=""> 
                <h2 class="lenovo text-white">Break the Loop</h2>
                <p class="text-white">Beating the Heat: Innovating Sustainable Solutions <br> to Tackle Heatwaves </p>
                <a href="About_Us.html" class="btn-hero1 ">Apply Now</a>
             </div>
            </div>
          
        </section> -->

        <section class="ongoing-challenge" id="Overview">
            <div class="h-100  justify-content-center align-content-center align-items-center  container">
            
                <h3 class="text-white lenovo">Break the Loop</h3>
				<br>
                <p class="text-white electral">Beating the Heat: Innovating Sustainable Solutions <br><br> to Tackle Heatwaves</p><br>
				
				{% if proposal_exists == 1 %}
					<p style="color:white;font-size: 1rem;">You have submitted a proposal; Updates will be communicated via email.</p>
				{% else %}
					<a href="{% url 'rolls_royce_proposal_form' %}" class="btn-hero1">Submit Proposal</a>
				{% endif %}
            
            </div>
        </section>


          <!--challenge start-->
		<div id="ChallengeSector" style="background-color: #201E2C;" class="py-4">
            <div class="container py-3">
				<h3  style="font-weight: bolder; font-size: 40px; color: #FFB601;" class="">Challenge Sector</h3>
            </div>
           <div class="d-flex justify-content-center align-items-center text-center container py-3">

				<div class="d-flex justify-content-center gap-5">
					<div class="w-25">
						<img src="https://itnthub.tn.gov.in/assets/climate.png" alt="">
						<h4 style="color: white; font-weight: bold; font-size: 30px" class="text-center">Climate tech</h4>
					</div>
					<div class="w-25">
						<div class="d-flex justify-content-center"><img src="https://itnthub.tn.gov.in/assets/ss.png" alt=""></div>
						<h4 style="color: white; font-weight: bold; font-size: 30px" class="text-center">Sustainability</h4>
					</div>
					<div class="w-25">
						<img src="https://itnthub.tn.gov.in/assets/energy.png" alt="">
						<h4 style="color: white; font-weight: bold; font-size: 30px" class="text-center">Energy generation</h4>
					</div>
				</div>
			
			
		   </div>
        </div>

        <!--challenge end-->

        <!--focus area start-->
		<div id="Focus" class="container  d-flex ">
			
			<div class="py-5">
				<div class="">
					<h3 style="color: #FF6500; font-weight: bolder; font-size: 40px">Focus Area</h3>
				</div>

				<div class="d-flex justify-content-between">
					<div style="width: 60%;" class="" >
						<div class="py-5">
							<h4 style="color: #121212; font-weight: bold; font-size: 30px">Predictive Analytics:</h4>
							<br>
							<h4 style=" color: #121212;">1.A low-cost, accurate, and timely prediction algorithm for regional heatwaves.</h4>
							<h4 style=" color: #121212;">2.Interpretable energy supply chain model with simulation capabilities</h4>
						</div>
						
							<h4 style="color: #121212; font-weight: bold; font-size: 30px">Sustainable solutions to alleviate impact:</h4>
							<br>
							<h4 style=" color: #121212;">1.Affordable solution to prevent power shortage using local technologies.</h4>
							<h4 style=" color: #121212;">2.Low power consuming solution to reduce the impact of heat waves.</h4>
		
						</div>
						<div style="width: 40%;">
							<div class="py-3">
								<img style="width: 100%;" src="https://itnthub.tn.gov.in/assets/undraw_analyze_re_9kco 1.png" alt="">
							</div>
						</div>
				</div>
				
				
			</div>
		</div>
	<!--focus area end-->


    <!--Overview of the challenge  star-->
    <div id="Overview" class="kzedx">
        <div class=" container py-5">
            <div class="py-5">
                <h3 style="font-size:40px; color: #FFB601;" class="">Overview of the challenge </h3>
            </div>
            <div>
                <h4 class="text-white boat">Is it feasible to get a real time indication of heat waves and provide a warning to prevent power outages? This would be the first step to build an interpretable energy supply chain model with simulation capabilities to predict the heat wave advance with reasonable accuracy in terms of both time and geography. Using this heat wave prediction data, we can understand regions in India that are prone to heatwaves.</h4>
            </div>
            <div class="py-5">
                <h4 class="text-white boat">These can indicate the expected demand fluctuations and will help to prepare an availability of energy across regions and time, coupled with an understanding of the 'fuel availability mix' thus allowing for an optimisation framework. Fuel can include renewable resources, non-renewable resources, and emerging energy sources, like hydrogen for example, with their own efficiencies, availability, potential, and challenges.
                </h4>
            </div>
            <div class="">
                
                
            </div>
        </div>
        
        <!-- <div class="programdetails-bootcamp service-details d-flex align-items-center">
            <div class="container py-5 ">
                <div class="row d-flex align-items-center" >
                    <div class="col-md-6 mb-4 mx-auto">
                        <div class="details-meta d-flex flex-column h-100">
                            
                            <div class="row flex-grow-1">
                                <p class="text-white"><span style="color: #ffb601; ; font-weight: bold;">iTNT Hub</span> and <span style="color: #ffb601; font-weight: bold;">Rolls Royce</span> have partnered to launch the "Break the Loop" innovation challenge to address the growing threat of heatwaves and their impact on society and the environment. This challenge aims to find sustainable solutions to predict and mitigate the effects of heatwaves through locally suitable technologies and approaches. 
                                    </p>
                                <p class="text-white">Partnering with Rolls Royce, the challenge provides a platform for startups and SMEs to trial and scale your solutions for validated use cases. Gain access to cutting-edge resources and forge collaborations with key industry players.</p>							</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mx-auto">
                        <div class="box d-flex align-items-center">
                            <img src="assets/program-details/bootcamp/bootcamp.jpg" alt="Placeholder Image" class="img-fluid" style="border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!--Overview of the challenge  end-->

    <!--current scenario start-->
    <div class="py-5 scenario">
        <div class="container py-3">
            <h3 style="font-weight: bolder; font-size: 40px;">Current Scenario</h3>
        </div>
        <div class="">
            <div class="container py-5 ">
                <div>

                    <div class="">
                        <div>
                            
                            <div  class=" ">
                                <div class="d-flex justify-content-start gap-5 ">
                                    <div ><h4 style="font-weight: bold;" class="stargray">01</h4></div>
                                    <h4>Currently, we have weather department and IMD alerts that are more focused on warning and containment rather than guidance on how to respond.</h4>
                                </div>
                                <br>
                                <div class="d-flex justify-content-start gap-5 ">
                                    <div ><h4 style="font-weight: bold;" class="stargray">02</h4></div>
                                    <h4>Air conditioning is one of the solutions, however access to it is expensive and not environment friendly.</h4>
                                </div>
                                <br>
                                <div class="d-flex gap-5 ">
                                    <div><h4 style="font-weight: bold;" class="stargray">03</h4></div>
                                    <h4>The emissions resulting from use of non-renewable energy to power air conditioning can also create a propagating loop leading to more climate events.</h4>
                                </div>
                            
                               
                            </div>
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
     <!--current scenario end-->



      <!--current scenario start-->
     <div style="background-color: #0E6DBC;" class="py-5">
        <div class="container py-3">
            <h3 style="font-weight: bolder; font-size: 40px; color: white;">Expectation from the participants</h3>
        </div>
        <div class="">
            <div class="container py-5 ">
                <div>

                    <div class="">
                        <div>
                            
                            <div  class=" ">
                                <div class="d-flex justify-content-start gap-5 ">
                                    <div ><h4 style="font-weight: bold;" class="stargray2 text-white">01</h4></div>
                                    <h4 class="text-white">The participants will submit a summary that includes proposed solution, technical aspects, and 
										deliverables. (Presentation not exceeding 10 slides in pdf format).</h4>
                                </div>
                                <br>
                                <div class="d-flex justify-content-center gap-5 ">
                                    <div ><h4 style="font-weight: bold;" class="stargray2 text-white">02</h4></div>
                                    <h4 class="text-white">The solution for the energy supply chain model to be  in the form of Github repo  that can either be software application or a mathematical model implemented in your own language format.</h4>
                                </div>
                                
                                
                            
                               
                            </div>
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
     <!--current scenario end-->

        <!--eligibility criteria start-->
	
		<div id="Eligity" class="kzedx py-4">
            <div class="container py-3">
				<div class="d-flex justify-content-between">
					<h3 style="font-weight: bolder; font-size: 40px; color: #FFB601;" class="">Eligibility Criteria</h3>
					
				{% if proposal_exists == 1 %}
					<p style="color:white;font-size: 1rem;">You have submitted a proposal; Updates will be communicated via email.</p>
				{% else %}
					<a href="{% url 'rolls_royce_proposal_form' %}" class="btn-hero1">Submit Proposal</a>
				{% endif %}
            
				</div>
				
            </div>
            <div class="programdetails-bootcamp service-details d-flex align-items-center">
                <div class="container ">
                    <div class="row d-flex align-items-center" >



						<div class="col-md-6 mb-4 mx-auto ">
                            <div class="details-meta d-flex flex-column h-100 justify-content-center">
                                <!-- <h4 style="color: #FFB600;">Bootcamp</h4> -->
								<div  class="px-5 ">
									<div class="d-flex justify-content-center gap-5 ">
										<div class="d-flex justify-content-center align-content-center align-items-center" ><h4 style="font-weight: bold;" class="starblue2 text-white">01</h4></div>
										<h4 class="text-white">The Challenge is open to all Tamil Nadu DPIIT-registered startups and professors from various
											institutions (“Subject Matter Experts”).</h4>
									</div>
									<br>
									<div class="d-flex justify-content-center gap-5 ">
										<div class="d-flex justify-content-center align-content-center align-items-center"><h4 style="font-weight: bold;" class="starblue2 text-white">02</h4></div>
										<h4 class="text-white">Preference would be given to innovative ideas for which patent has already been filed or can be filed in the future.</h4>
									</div>
									
								</div>
                                
                                
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 mx-auto d-flex justify-content-end">
                            <div class="box d-flex justify-content-center align-items-center">
                                <img src="https://itnthub.tn.gov.in/assets/eligibity.png" alt="Placeholder Image" class="img-fluid" style="border-radius: 10px;">
                            </div>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>


        <!--eligibility criteria end-->
        





        <!--Benefits of Participation-->

        <div id="Benefits" class="bg-white py-4">
            <div class="container py-2">
                <h3 style="font-weight: bolder; font-size: 40px;">Benefits of Participation </h3>
            </div>
            <div class="programdetails-bootcamp service-details d-flex align-items-center">
                <div class="container ">
                    <div class="row d-flex align-items-center" >

                        <div class="col-md-6 mb-4 mx-auto">
                            <div class="box d-flex align-items-center">
                                <img src="https://itnthub.tn.gov.in/assets/benefits.png" alt="Placeholder Image" class="img-fluid" style="border-radius: 10px;">
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 mx-auto ">
                            <div class="details-meta d-flex flex-column h-100 justify-content-center">
                                <!-- <h4 style="color: #FFB600;">Bootcamp</h4> -->
								<div  class="px-5  ">
									<div class="d-flex justify-content-center gap-5 ">
										<div ><h4 style="font-weight: bold;" class="starblue">01</h4></div>
										<h4>Participants with promising solutions will have the chance to pitch in front of Rolls Royce leadership network and gain visibility in the energy and sustainability ecosystem.</h4>
									</div>
									<br>
									<div class="d-flex justify-content-center gap-5 ">
										<div ><h4 style="font-weight: bold;" class="starblue">02</h4></div>
										<h4>Mentorship and learning sessions from the leading subject matter experts of Rolls Royce through to the Demo Day.</h4>
									</div>
									<br>
									<div class="d-flex gap-5 ">
										<div><h4 style="font-weight: bold;" class="starblue">03</h4></div>
										<h4>Incubation support at iTNT Hub to develop the product/solution.</h4>
									</div>
									<br>
									<div class="d-flex justify-content-center gap-5 ">
										<div ><h4 style="font-weight: bold;" class="starblue">04</h4></div>
										<h4>Opportunity to make a positive societal and environmental impact.</h4>
									</div>
								</div>
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
		<!--end-->

        
        <!--Profile start-->
     <div style="background-color: #FFB601;" class="py-5">
        <div class="container py-3">
            <h3 style="font-weight: bolder; font-size: 40px;">Profile of the Target End-User</h3>
        </div>
        <div class="">
            <div class="container py-5 ">
                <div>

                    <div class="">
                        <div>
                            
                            <div  class=" ">
                                <div class="d-flex justify-content-start gap-5 ">
                                    <div ><h4 style="font-weight: bold;" class="stargray">01</h4></div>
                                    <h4 class="">Energy supply chain industry.</h4>
                                </div>
                                <br>
                                <div class="d-flex justify-content-start gap-5 ">
                                    <div ><h4 style="font-weight: bold;" class="stargray">02</h4></div>
                                    <h4 class="">HVAC (Heating, ventilation, and air conditioning) industry.</h4>
                                </div>
                                
                                
                            
                               
                            </div>
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
     <!--Profile end-->

        
		
      

		


		<!--challenge time start-->

		<div id="Timeline" style="background-color: #F4F4F4;">
			<div class="container py-5">
				<h3 style="font-weight: bolder; font-size: 40px;">Challenge Timeline</h3>
			</div>
			<div class="d-flex justify-content-center">
				<img src="https://itnthub.tn.gov.in/assets/challenge-time.png" alt="" style="max-width: 100%;">
			</div>
		</div>


		<!--challenge time end-->

		<!--
		=====================================================
			Fancy Banner Three
		=====================================================
		-->
		<div style="background-image: url(https://itnthub.tn.gov.in/assets/home/bg-brown.png) ; background-size: cover;
		padding: 80px 0;
		z-index: 1;" class="fancy-banner-three position-relative wow fadeInUp">
			<div class="container">
				<div class="row align-content-center">
					<div class="col-lg-8 col-md-9  d-flex justify-content-center align-content-center align-items-center">
						<div class="title-one mb-20 lg-mb-10">
						<h2 class="text-white">Got queries ? Reach us out at</h2>
						<h2 style="font-weight: 200;" class="text-white">developer@tnthub.org</h2>
						</div>
						<!-- /.title-one -->
					</div>
					<div class="col-lg-4 col-md-3">
						<a href="https://itnthub.tn.gov.in/contact.html" class="quote-btn color-two tran5s rounded-circle d-flex align-items-center justify-content-center ms-auto">
							<img src="https://itnthub.tn.gov.in/assets/home/cta-contact-us.png"alt="" class="lazy-img">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.fancy-banner-three -->

		<!--Challenge Timeline start-->

		<!-- <div class=" container py-5  ">
			<div style="" class="d-flex container justify-content-between">
				<div class="">
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center">MAY 06</h5>
					<div class="d-flex justify-content-center">
						<div style="width: 80px; height: 80px; background-color: #FF6500; border-radius:100px;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
					</div>
					<div class="d-flex justify-content-center ">
						<div style="width: 5px; height: 100px; background-color: #FB9F62;  "></div>
					</div>
					<div class="d-flex justify-content-center"><div style="width: 220px; height: 25px; background-color: #F09457;  "></div></div>
					<div style="padding-top: 50px;" class="text-center p"><h5>SOFT LAUNCH</h5></div>
					<div class="text-center"><h5>(Application open)</h5></div>
				</div> -->

				<!--1-->
				<!-- <div class="">
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center opacity-0">MAY 06</h5>
					<div class="d-flex justify-content-center">
						<div style="width: 76px; height: 76px; background-color: #0E6DBC; border-radius:100px;opacity: 0;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
					</div>
					<div  class="d-flex justify-content-center  ">
						<div  class="text-center "><h5 style="font-weight: bolder;"><br>APPLICATION <br>CLOSED <br> <br></h5>
							
						</div>
						<div style="width: 5px; height: 100px; background-color: #ffb601;  opacity: 0;"></div>
					</div>
					<div class="d-flex justify-content-center"><div style="width: 220px; height: 25px; background-color: #5F98C8;  "></div></div>

					
					<div class="d-flex justify-content-center ">
						<div style="width: 5px; height: 100px; background-color: #6AA3D3;  "></div>
					</div>
					<div class="d-flex justify-content-center">
						<div style="width: 80px; height: 80px; background-color: #0E6DBC; border-radius:100px;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
						
					</div>
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center">MAY 06</h5>
					<div style="padding-top: 50px;" class="text-center opacity-0">Lorem ipsum dolor sit amet.</div>
					<div class="text-center opacity-0">Lorem ipsum dolor </div>
				</div> -->

				<!--3-->
				<!-- <div class="">
					<h5 style="font-weight: bolder; font-size: xx-large;" class="text-center">JUN 03-10</h5>
					<div class="d-flex justify-content-center">
						<div style="width: 80px; height: 80px; background-color: #ffb601; border-radius:100px;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
					</div>
					<div class="d-flex justify-content-center ">
						<div style="width: 5px; height: 100px; background-color: #FBCF63; "></div>
					</div>
					<div class="d-flex justify-content-center"><div style="width: 220px; height: 25px; background-color: #F0C458;  "></div></div>
					<div style="padding-top: 50px;" class="text-center p"><h5>TECHNICAL AND</h5></div>
					<div class="text-center">Lorem ipsum dolor </div>
				</div> -->

				<!--4-->
				<!-- <div class="">
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center opacity-0">MAY 06</h5>
					<div class="d-flex justify-content-center">
						<div style="width: 76px; height: 76px; background-color: #ffb601; border-radius:100px;opacity: 0;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
					</div>
					<div  class="d-flex justify-content-center  ">
						<div class="text-center "><h5>TECHNICAL AND <br> BUSINESS TRAINING FOR  SHORTLISTED IDEAS <br></h5>
							
						</div>
						<div style="width: 5px; height: 100px; background-color: #ffb601;  opacity: 0;"></div>
					</div>
					<div class="d-flex justify-content-center"><div style="width: 220px; height: 25px; background-color: #F09457;  "></div></div>

					
					<div class="d-flex justify-content-center ">
						<div style="width: 5px; height: 100px; background-color: #FB9F62;  "></div>
					</div>
					<div class="d-flex justify-content-center">
						<div style="width: 80px; height: 80px; background-color: #FF6500; border-radius:100px;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
						
					</div>
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center">MAY 06</h5>
					<div style="padding-top: 50px;" class="text-center opacity-0">Lorem ipsum dolor sit amet.</div>
					<div class="text-center opacity-0">Lorem ipsum dolor </div>
				</div> -->
				<!--5-->
				<!-- <div class="">
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center">MAY 06</h5>
					<div class="d-flex justify-content-center">
						<div style="width: 80px; height: 80px; background-color: #0E6DBC; border-radius:100px;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
					</div>
					<div class="d-flex justify-content-center ">
						<div style="width: 5px; height: 100px; background-color: #6AA3D3;  "></div>
					</div>
					<div class="d-flex justify-content-center"><div style="width: 220px; height: 25px; background-color: #5F98C8;  "></div></div>
					<div style="padding-top: 50px;" class="text-center p">Lorem ipsum dolor sit amet.</div>
					<div class="text-center">Lorem ipsum dolor </div>
				</div> -->


				<!--6-->
				<!-- <div class="">
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center opacity-0">MAY 06</h5>
					<div class="d-flex justify-content-center">
						<div style="width: 76px; height: 76px; background-color: #ffb601; border-radius:100px;opacity: 0;"><div class="d-flex justify-content-center align-content-center align-items-center text-center position-relative"><div><h6 class="text-center ">6</h6></div></div></div>
					</div>
					<div  class="d-flex justify-content-center  ">
						<div class="text-center "><h5> ONBOARDING  <br> AND  <br>INCUBATION <br> <br></h5>
							
						</div>
						<div style="width: 5px; height: 100px; background-color: #ffb601;  opacity: 0;"></div>
					</div>
					<div class="d-flex justify-content-center"><div style="width: 220px; height: 25px; background-color: #F0C458;  "></div></div>

					
					<div class="d-flex justify-content-center ">
						<div style="width: 5px; height: 100px; background-color: #FBCF63;  "></div>
					</div>
					<div class="d-flex justify-content-center">
						<div style="width: 80px; height: 80px; background-color: #ffb601; border-radius:100px;"><div class="d-flex justify-content-center align-content-center align-items-center text-center"><h6 class="text-center ">6</h6></div></div>
						
					</div>
					<h5 style="font-weight: bold; font-size: xx-large;" class="text-center">MAY 06</h5>
					<div style="padding-top: 50px;" class="text-center opacity-0">Lorem ipsum dolor sit amet.</div>
					<div class="text-center opacity-0">Lorem ipsum dolor </div>
				</div> -->
				
			
			<!-- </div> -->
			


		<!-- </div> -->

		
		  
		
       
		
		
		


		<!--
		=====================================================
			Footer
		=====================================================
		-->
		<div class="  ">
			<!--
			=====================================================
				Newsletter Banner
			=====================================================
			-->
			<!-- <div class="newsletter-banner white-vr">
				<div class="container">
					<div class="main-wrapper bottom-border">
						<div class="row">
							<div class="col-lg-6 text-black">
								<h2 class="text-black fw-bold">Our Newsletter.</h2>
								<p class="text-lg text-black opacity-75 md-pb-20 ">Get instant news by subscribing to our monthly newsletter</p>
							</div>
							<div class="col-lg-6">
								<form action="#" class="me-auto ms-auto me-lg-0">
									<div class="d-flex align-items-center text-black justify-content-between">
										<input type="email" placeholder="Enter your email address">
										<button class="rounded-circle tran3s"><i class="bi bi-arrow-right"></i></button>
									</div>
									<p class="text-center text-black text-lg-end m0 pt-5">Already subscribed? <a href="#" class="fw-500">Unsubscribe</a></p>
								</form>
							</div>
						</div>
					</div>
					 
				</div>
			</div>

			
			<!-
			=====================================================
				Footer Four
			=====================================================
			-->
			<!--Footer Dark-->

			<div class="footer-four bg-dark">
				<div class="container">
					<div class="inner-wrapper">
						<div class="row justify-content-between">
							<div class="col-lg-4 footer-intro mb-40">
								<div class="logo mb-25">
									<a href="https://itnthub.tn.gov.in/index.html">
										<img src="https://itnthub.tn.gov.in/assets/innovation/dark-logo.png" alt="">
									</a>
								</div> 
								
								<p class="mb-55 md-mb-30 white bold">iTNT Foundation</p>
								<ul class="style-none">
									<li class="d-flex align-items-center text-white">
										<p class="text-white">
											iTNT Foundation is section 8 (non profit)
											entity setup by the Government of Tamil
											Nadu, with support from MEITY and Industry
											Partnership.
										</p>
									</li>
									<li class="d-flex text-white align-items-center">
										<p class="text-white">
											<!-- Address - <br> -->
											Sir C V Raman Block, 3rd Floor, Anna
											University Campus, Kotturpuram, Chennai
											600025
											
											India 
										</p>
									</li>
								</ul>
							</div>
							<div class="col-lg-2 col-sm-4 mb-20">
								<ul class="footer-nav-link style-none text-white">
									<li><a class="text-white" href="https://itnthub.tn.gov.in/About_Us.html#AboutPeople">People</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/boards.html">Board and Advisors</a></li>
									<!-- <li><a class="text-white" href="facilities.html">Facilities</a></li> -->
									<li><a class="text-white" href="https://itnthub.tn.gov.in/events.html">Events</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/careers.html">Careers</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/faq.html">FAQ</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/contact.html">Contact us</a></li>
								</ul>
							</div>
							<div class="col-lg-2 col-sm-4 text-black mb-20">
								<ul class="footer-nav-link style-none">
									<li><a class="text-white" href="https://itnthub.tn.gov.in/bootcamp.html">Bootcamps</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/preincubation.html">Pre Incubation Programs</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/incubationdetails.html">Incubation Programs</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/acceleration.html">Acceleration</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/venturestudio.html">Venture Studio</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/innovationnetworkdetails.html">Innovation Network</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/internationalpaviliondetails.html">International Pavilion</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/fablabdetails.html">Fablab & Design Studio</a></li>
								</ul>
							</div>
							<div class="col-xxl-2 text-black col-lg-3 col-sm-4 mb-20">
								<ul class="footer-nav-link style-none">
									<li><a class="text-white" href="https://itnthub.tn.gov.in/terms&conditions.html">Terms & conditions</a></li>
									<li><a class="text-white" href="https://itnthub.tn.gov.in/privacypolicy.html">Privacy policy</a></li>
									<!-- <li><a class="text-white" href="">Manage Cookies</a></li> -->
								</ul>
							</div>
						</div>
					</div> 
					<div class="d-flex justify-content-center align-content-center align-items-center " >
						<div><a class="d-flex justify-content-center align-content-center" href="https://itnthub.tn.gov.in/index.html"><img style="" class="w-50" src="https://itnthub.tn.gov.in/assets/BuildTheFuture logo 2.svg" alt=""></a></div>
						
					</div>
					<div class="py-5"><img src="/assets/footer-lines.png" alt=""></div>
				</div>

				
				<div class="container">
					<div class="bottom-footer-ino">
						<div class="row d-flex justify-content-between">
							<div class="col-xl-4 col-lg-3 order-lg-3 mb-15 w-auto">
								<ul class="style-none d-flex align-items-center justify-content-between gap-2  social-icon">
									<li><a class="text-white" href="#" ><i class="bi bi-facebook"></i></a></li>
									<li><a class="text-white" href="https://twitter.com/itntHub" ><i class="bi bi-twitter"></i></a></li>
									<li><a class="text-white" href="#" ><i class="bi bi-instagram"></i></a></li>
									<li><a class="text-white" href="https://www.linkedin.com/company/itnthub/" ><i class="bi bi-linkedin"></i></a></li>

									<!-- <li><a class="text-white" href="#"><i class="bi bi-instagram"></i></a></li>
									<li><a class="text-white" href="#"><i class="bi bi-instagram"></i></a></li> -->
								</ul>
							</div>
							
							<div class="col-xl-4 col-lg-3 order-lg-1 mb-15 py-3">
								<!-- <div class="copyright text-center text-white text-lg-start order-lg-first" style="font-size:14px !important;">Developed By</div>
								<a href=""> <div class="copyright text-center text-white text-lg-start order-lg-first" style="font-size:14px !important;" >LDev Technologies</div></a> -->
							</div>
						</div>
					</div>
					
				</div>
			</div> 
		</div>
			
			<!-- /.footer-four -->
		</div>





		<button class="scroll-top">
			<i class="bi bi-arrow-up-short " style="color: white;"></i>
		</button>




		<!-- Optional JavaScript _____________________________  -->

		<!-- jQuery first, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="https://itnthub.tn.gov.in/vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://itnthub.tn.gov.in/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="https://itnthub.tn.gov.in/vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="https://itnthub.tn.gov.in/vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="https://itnthub.tn.gov.in/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Lazy -->
		<script src="https://itnthub.tn.gov.in/vendor/jquery.lazy.min.js"></script>
		<!-- js Counter -->
		<script src="https://itnthub.tn.gov.in/vendor/jquery.counterup.min.js"></script>
		<script src="https://itnthub.tn.gov.in/vendor/jquery.waypoints.min.js"></script>
		
		<!-- validator js -->
		<script src="https://itnthub.tn.gov.in/vendor/validator.js"></script>

		<!-- Theme js -->
		<script src="https://itnthub.tn.gov.in/js/theme.js"></script>
	</div> <!-- /.main-page-wrapper -->
</body>

</html>