<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="itnt,itntportal,portal,landing">
	<meta name="description" content="iTNT Hub Homepage landing">
    <meta property="og:site_name" content="iTNT Hub">
    <meta property="og:url" content="https://itnthub.tn.gov.in">
    <meta property="og:type" content="website">
    <meta property="og:title" content="iTNT Portal Homepage">
	<meta name='og:image' content='https://itnthub.tn.gov.in/images/assets/ogg.png'>
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=1366">	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#1A4137">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#1A4137">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#1A4137">
	<title>iTNT HUB </title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="https://itnthub.tn.gov.in/css/bootstrap.min.css" media="all">
	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="https://itnthub.tn.gov.in/css/style.css" media="all">
    <link rel="stylesheet" href="/css/style3.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="https://itnthub.tn.gov.in/css/responsive.css" media="all">
	<link rel="stylesheet" href="https://itnthub.tn.gov.in/css/events.css">
	<!--workcss-->
	<link rel="stylesheet" href="https://itnthub.tn.gov.in/css/index.css">
    <link rel="stylesheet" href="https://itnthub.tn.gov.in/rolls-royce/assets/css/styles.css">
	<link rel="stylesheet" href="https://itnthub.tn.gov.in/rolls-royce/assets/sass/styles.scss">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<script src="https://itnthub.tn.gov.in/js/gallery.js"></script>

	<style>
		@keyframes blink-animation {
			50% {
				opacity: 0;
			}
		}
	</style>

	<style>
		/* Center the card */
		.card-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50vh;
		}
	</style>

	<!-- Fix Internet Explorer ______________________________________-->
	<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
</head>

<body>
	<div class="main-page-wrapper">
		<!-- 
		=============================================
				Theme Main Menu
		============================================== 
		-->
		<header class="theme-main-menu menu-overslay menu-style-two sticky-menu">
           
            <div class="bg-white d-flex justify-content-between align-items-center align-content-center px-4">
                <div class="d-flex py-3 gap-3">
                    <div  class="d-flex justify-content-center  align-content-center align-items-center"><img style="width: 145px; height: 50px;" src="https://itnthub.tn.gov.in/assets/navbar/iTNT.png" alt=""></div>
                    <div class="logo-main "></div>
                    <img style="width:110px; "class="d-flex justify-content-center align-content-center align-items-center"class="d-flex justify-content-center align-content-center align-items-center" src="https://itnthub.tn.gov.in/assets/ongoing-img.png" alt="">
                    
                </div>
                <div class="d-flex justify-content-center text-center align-content-center align-items-center ">
					<div class="d-flex justify-content-center text-center align-content-center align-items-center gap-5">
						<a href="#"><h5>About</h5></a>
						<h5>Benefits</h5>
						<h5>Focus Area</h5>
						<h5>Eligibity</h5>
						<h5>Timeline</h5>
						<a href="{% url 'logout' %}"><h5>Logout</h5></a>
					</div>
                   
                </div>
                   
                
                <div class="d-flex justify-content-end align-content-center  px-5 ">
                    <img style="width: 45px" src="https://itnthub.tn.gov.in/assets/onging-img2.png" alt="">
                    <!-- <div class="logo-main "></div>
                    <a href="#"><img style="width: 150px;" class="d-flex justify-content-center align-content-center align-items-center" src="/assets/ongoing-img.png" alt=""></a> -->
                    
                </div>
            </div>
			
			
		</header>
        
        <!-- end -->
    
        
    	<!-- 
		=============================================
				form
		============================================== 
		-->

        <section class="py-5">
			
			<div class="d-flex flex-column justify-content-center align-items-center " style="height: 70vh;">
				<div class="container w-100 m-auto ">
					<div class="card d-flex bg-white form-box flex-column m-auto gap-4  justify-content-center align-items-center p-5 w-75 " style="height: 50vh;">
						<img src="https://itnthub.tn.gov.in/rolls-royce/assets/images/proposal-submitted/check-Icon.png" alt="" style="width: 50px;">
						<h5 class="card-title" style="font-weight: 700; font-size: 25px;">Proposal Submitted successfully</h5>
						<div class="btn-container">
							<a href ="https://itnthub.tn.gov.in">
							<button type="button" class="btn btn-text-orange">Go to Home</button> </a>
						</div>
					</div>
				</div>
			</div>
        </section>





		<button class="scroll-top">
			<i class="bi bi-arrow-up-short " style="color: white;"></i>
		</button>




		<!-- Optional JavaScript _____________________________  -->

		<!-- jQuery first, then Bootstrap JS -->
		<!-- jQuery -->
		<script src="https://itnthub.tn.gov.in/vendor/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://itnthub.tn.gov.in/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- WOW js -->
		<script src="https://itnthub.tn.gov.in/vendor/wow/wow.min.js"></script>
		<!-- Slick Slider -->
		<script src="https://itnthub.tn.gov.in/vendor/slick/slick.min.js"></script>
		<!-- Fancybox -->
		<script src="https://itnthub.tn.gov.in/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Lazy -->
		<script src="https://itnthub.tn.gov.in/vendor/jquery.lazy.min.js"></script>
		<!-- js Counter -->
		<script src="https://itnthub.tn.gov.in/vendor/jquery.counterup.min.js"></script>
		<script src="https://itnthub.tn.gov.in/vendor/jquery.waypoints.min.js"></script>
		
		<!-- validator js -->
		<script src="https://itnthub.tn.gov.in/vendor/validator.js"></script>

		<!-- Theme js -->
		<script src="https://itnthub.tn.gov.in/js/theme.js"></script>
	</div> <!-- /.main-page-wrapper -->
</body>

</html>