{% extends 'dashboard/base.html' %}
{% load static %}

{% block breadcrums %}
<!--begin::Breadcrumb-->
																<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">
																		<a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
																			<i class="ki-outline ki-home text-gray-700 fs-6"></i>
																		</a>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Profiles</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">VC's</li>
																	<!--end::Item-->
																</ul>
																<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Meeting requests
{% endblock  %}
{% block pagedescription %}
VC's
{% endblock  %}



{% block page_content %}
							<div class="d-flex flex-column flex-column-fluid">
								<!--begin::Content-->
								<div id="kt_app_content" class="app-content flex-column-fluid">
									<!--begin::Contacts App- View Contact-->
									<div class="row g-7">
										<!--begin::Contact groups-->
										<div class="col-lg-6 col-xl-3">
											<!--begin::Contact group wrapper-->
											<div class="card card-flush">
												<!--begin::Card header-->
												<div class="card-header pt-7" id="kt_chat_contacts_header">
													<!--begin::Card title-->
													<div class="card-title">
														<h2>Categories</h2>
													</div>
													<!--end::Card title-->
												</div>
												<!--end::Card header-->
												<!--begin::Card body-->
												<div class="card-body pt-5">
													<!--begin::Contact groups-->
													<div class="d-flex flex-column gap-5">
														<!--begin::Contact group-->
														<div class="d-flex flex-stack">
															<a href="apps/contacts/getting-started.html" class="fs-6 fw-bold text-gray-800 text-hover-primary text-active-primary active">AI / ML</a>
															<div class="badge badge-light-primary">94</div>
														</div>
														<!--begin::Contact group-->
														<!--begin::Contact group-->
														<div class="d-flex flex-stack">
															<a href="apps/contacts/getting-started.html" class="fs-6 fw-bold text-gray-800 text-hover-primary">Space Tech</a>
															<div class="badge badge-light-primary">63</div>
														</div>
														<!--begin::Contact group-->
														<!--begin::Contact group-->
														<div class="d-flex flex-stack">
															<a href="apps/contacts/getting-started.html" class="fs-6 fw-bold text-gray-800 text-hover-primary">Space Tech</a>
															<div class="badge badge-light-primary">71</div>
														</div>
														<!--begin::Contact group-->
														<!--begin::Contact group-->
														<div class="d-flex flex-stack">
															<a href="apps/contacts/getting-started.html" class="fs-6 fw-bold text-gray-800 text-hover-primary">Creative Tech (AVGC+) </a>
															<div class="badge badge-light-primary">33</div>
														</div>
														<!--begin::Contact group-->
														<!--begin::Contact group-->
														<div class="d-flex flex-stack">
															<a href="apps/contacts/getting-started.html" class="fs-6 fw-bold text-gray-800 text-hover-primary">Other</a>
															<div class="badge badge-light-primary">25</div>
														</div>
														<!--begin::Contact group-->
													</div>
													<!--end::Contact groups-->

												</div>
												<!--end::Card body-->
											</div>
											<!--end::Contact group wrapper-->
										</div>
										<!--end::Contact groups-->
										<!--begin::Search-->
										<div class="col-lg-6 col-xl-3">
											<!--begin::Contacts-->
											<div class="card card-flush" id="kt_contacts_list">
												{% comment %} <!--begin::Card header-->
												<div class="card-header pt-7" id="kt_contacts_list_header">
													<!--begin::Form-->
													<form class="d-flex align-items-center position-relative w-100 m-0" autocomplete="off">
														<!--begin::Icon-->
														<i class="ki-outline ki-magnifier fs-3 text-gray-500 position-absolute top-50 ms-5 translate-middle-y"></i>
														<!--end::Icon-->
														<!--begin::Input-->
														<input type="text" class="form-control form-control-solid ps-13" name="search" value="" placeholder="Search contacts" />
														<!--end::Input-->
													</form>
													<!--end::Form-->
												</div>
												<!--end::Card header--> {% endcomment %}
												<!--begin::Card body-->
												<div class="card-body pt-5" id="kt_contacts_list_body">
													<!--begin::List-->
													<div class="scroll-y me-n5 pe-5 h-300px h-xl-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_contacts_list_header" data-kt-scroll-wrappers="#kt_content, #kt_contacts_list_body" data-kt-scroll-stretch="#kt_contacts_list, #kt_contacts_main" data-kt-scroll-offset="5px">
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-6.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">EcoGrowth Solutions </a>
																	<div class="fw-semibold fs-7 text-muted">Environmental Sustainability</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">S</span>
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">WiseRoot Finance</a>
																	<div class="fw-semibold fs-7 text-muted">Financial Services</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-1.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">FoodFusion Labs</a>
																	<div class="fw-semibold fs-7 text-muted">FoodTech</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-5.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">PetPals Haven</a>
																	<div class="fw-semibold fs-7 text-muted">Pet Care</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-25.jpg' %}" />
																	
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">AgriGlow Farms</a>
																	<div class="fw-semibold fs-7 text-muted">Agriculture/AgriTech</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-warning text-warning fs-6 fw-bolder">R</span>
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">LegalLoom Solutions</a>
																	<div class="fw-semibold fs-7 text-muted">LegalTech</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-9.jpg' %}" />

																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">FashionFusion Studio</a>
																	<div class="fw-semibold fs-7 text-muted">Fashion/Apparel</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">O</span>

																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">SparkleTech CleanTech</a>
																	<div class="fw-semibold fs-7 text-muted">Clean Technology</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">N</span>
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">PetPals Haven</a>
																	<div class="fw-semibold fs-7 text-muted">Wellness</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-23.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">BioGenesis BioTech</a>
																	<div class="fw-semibold fs-7 text-muted">Biotechnology</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">S</span>
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">GreenHarbor</a>
																	<div class="fw-semibold fs-7 text-muted">Renewable</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-12.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">EduSpark</a>
																	<div class="fw-semibold fs-7 text-muted">Education</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-info text-info fs-6 fw-bolder">A</span>
																	<div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">ArtisanAura Crafts</a>
																	<div class="fw-semibold fs-7 text-muted">Handicrafts</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-13.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">InfiniteSky</a>
																	<div class="fw-semibold fs-7 text-muted">Aerospace</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<span class="symbol-label bg-light-success text-success fs-6 fw-bolder">L</span>
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">MindMatrix AI</a>
																	<div class="fw-semibold fs-7 text-muted">Artificial Intelligence</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
														<!--begin::Separator-->
														<div class="separator separator-dashed d-none"></div>
														<!--end::Separator-->
														<!--begin::User-->
														<div class="d-flex flex-stack py-4">
															<!--begin::Details-->
															<div class="d-flex align-items-center">
																<!--begin::Avatar-->
																<div class="symbol symbol-40px symbol-circle">
																	<img alt="Pic" src="{% static 'assets/media/avatars/300-21.jpg' %}" />
																</div>
																<!--end::Avatar-->
																<!--begin::Details-->
																<div class="ms-4">
																	<a href="apps/contacts/view-contact.html" class="fs-6 fw-bold text-gray-900 text-hover-primary mb-2">TechSage</a>
																	<div class="fw-semibold fs-7 text-muted">Technology Consulting</div>
																</div>
																<!--end::Details-->
															</div>
															<!--end::Details-->
														</div>
														<!--end::User-->
													</div>
													<!--end::List-->
												</div>
												<!--end::Card body-->
											</div>
											<!--end::Contacts-->
										</div>
										<!--end::Search-->
										<!--begin::Content-->
										<div class="col-xl-6">
											<!--begin::Contacts-->
											<div class="card card-flush h-lg-100" id="kt_contacts_main">
												<!--begin::Card header-->
												<div class="card-header pt-7" id="kt_chat_contacts_header">
													<!--begin::Card title-->
													<div class="card-title">
														<i class="ki-outline ki-badge fs-1 me-2"></i>
														<h2>StartUp Details</h2>
													</div>
													<!--end::Card title-->
													<!--begin::Card toolbar-->
													<div class="card-toolbar gap-3">
														{% comment %} <!--begin::Chat-->
														<button class="btn btn-sm btn-light btn-active-light-primary" data-kt-drawer-show="true" data-kt-drawer-target="#kt_drawer_chat">
														<i class="ki-outline ki-message-text-2 fs-2"></i>Chat</button>
														<!--end::Chat--> {% endcomment %}
														<!--begin::Chat-->
														<a href="apps/inbox/reply.html" class="btn btn-sm btn-light btn-active-light-primary">
														<a class="btn btn-sm btn-success align-self-center">Accept meeting request</a>
														<!--end::Chat-->
														<!--begin::Action menu-->
														<a href="#" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
															<i class="ki-outline ki-dots-square fs-2"></i>
														</a>
														<!--begin::Menu-->
														<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="apps/contacts/edit-contact.html" class="menu-link px-3">Edit</a>
															</div>
															<!--end::Menu item-->
															<!--begin::Menu item-->
															<div class="menu-item px-3">
																<a href="#" class="menu-link px-3" id="kt_contact_delete" data-kt-redirect="apps/contacts/getting-started.html">Delete</a>
															</div>
															<!--end::Menu item-->
														</div>
														<!--end::Menu-->
														<!--end::Action menu-->
													</div>
													<!--end::Card toolbar-->
												</div>
												<!--end::Card header-->
												<!--begin::Card body-->
												<div class="card-body pt-5">
													<!--begin::Profile-->
													<div class="d-flex gap-7 align-items-center">
														<!--begin::Avatar-->
														<div class="symbol symbol-circle symbol-100px">
                                                            <span class="symbol-label bg-light-success fs-1 fw-bolder">ECO</span>
															{% comment %} <img src="{% static 'assets/media/avatars/300-6.jpg' %}" alt="image" /> {% endcomment %}
														</div>
														<!--end::Avatar-->
														<!--begin::Contact details-->
														<div class="d-flex flex-column gap-2">
															<!--begin::Name-->
															<h3 class="mb-0">EcoGrowth Solutions</h3>
															<!--end::Name-->
															<!--begin::Email-->
															<div class="d-flex align-items-center gap-2">
																<i class="ki-outline ki-sms fs-2"></i>
																<a href="#" class="text-muted text-hover-primary"> Renewable Energy , Environmental & A.I</a>
															</div>
															<!--end::Email-->
															<!--begin::Phone-->
															<div class="d-flex align-items-center gap-2">
																<i class="ki-outline ki-phone fs-2"></i>
																<a href="#" class="text-muted text-hover-primary">Pre-Series A</a>
															</div>
															<!--end::Phone-->
														</div>
														<!--end::Contact details-->
													</div>
													<!--end::Profile-->
													<!--begin:::Tabs-->
													<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x fs-6 fw-semibold mt-6 mb-8 gap-2">
														<!--begin:::Tab item-->
														<li class="nav-item">
															<a class="nav-link text-active-primary d-flex align-items-center pb-4 active" data-bs-toggle="tab" href="#kt_contact_view_general">
															<i class="ki-outline ki-home fs-4 me-1"></i>General</a>
														</li>
														<!--end:::Tab item-->
														{% comment %} <!--begin:::Tab item-->
														<li class="nav-item">
															<a class="nav-link text-active-primary d-flex align-items-center pb-4" data-bs-toggle="tab" href="#kt_contact_view_meetings">
															<i class="ki-outline ki-calendar-8 fs-4 me-1"></i>Meetings</a>
														</li>
														<!--end:::Tab item-->
														<!--begin:::Tab item-->
														<li class="nav-item">
															<a class="nav-link text-active-primary d-flex align-items-center pb-4" data-bs-toggle="tab" href="#kt_contact_view_activity">
															<i class="ki-outline ki-save-2 fs-4 me-1"></i>Activity</a>
														</li>
														<!--end:::Tab item--> {% endcomment %}
													</ul>
													<!--end:::Tabs-->
													<!--begin::Tab content-->
													<div class="tab-content" id="">
														<!--begin:::Tab pane-->
														<div class="tab-pane fade show active" id="kt_contact_view_general" role="tabpanel">
                                                            
															<!--begin::Additional details-->
															<div class="d-flex flex-column gap-5 mt-7">
																<!--begin::Company name-->
																<div class="d-flex flex-column gap-1">
																	<div class="fw-bold text-muted">Founder Name</div>
																	<div class="fw-bold fs-5">Pranay</div>
																</div>
                                                                <p><iframe src="https://www.youtube-nocookie.com/embed/EpcpWFw_dTs?autoplay=1&modestbranding=1&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&color=white&controls=0&disablekb=1" width="560" height="315" title="cinematic video - Skincare product" frameborder="0"></iframe></p>
																<!--end::Company name-->
																<!--begin::City-->
																<div class="d-flex flex-column gap-1">
																	<div class="fw-bold text-muted">City</div>
																	<div class="fw-bold fs-5">Chennai</div>
																</div>
																<!--end::City-->
																<!--begin::Country-->
																<div class="d-flex flex-column gap-1">
																	<div class="fw-bold text-muted">State</div>
																	<div class="fw-bold fs-5">Tamil Nadu</div>
																</div>
																<!--end::Country-->
																<!--begin::Notes-->
																<div class="d-flex flex-column gap-1">
																	<div class="fw-bold text-muted">Notes</div>
																	<p>Vani Kola is the founder and managing director of Kalaari Capital, a venture capital firm based in Bangalore, Karnataka, India. Kalaari Capital is known for its investments in technology startups across various sectors, including e-commerce, fintech, healthcare, and enterprise software.
                                                                    </p>
																</div>

                                                                <button class="btn btn-sm btn-light btn-active-light-primary" data-kt-drawer-show="true" data-kt-drawer-target="#kt_drawer_chat">
                                                                    <i class="ki-outline ki-message-text-2 fs-2"></i>Company Website</button>
                                                                    <!--end::Chat--> 
                                                                    <!--begin::Chat-->
                                                                    <a href="apps/inbox/reply.html" class="btn btn-sm btn-light btn-active-light-primary">
                                                                    <i class="ki-outline ki-messages fs-2"></i>LinkedIN</a>
                                                                    <!--end::Chat-->
																<!--end::Notes-->
															</div>
															<!--end::Additional details-->
														</div>
														<!--end:::Tab pane-->
													</div>
													<!--end::Tab content-->
												</div>
												<!--end::Card body-->
											</div>
											<!--end::Contacts-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Contacts App- View Contact-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Content wrapper-->
							<!--begin::Footer-->
{% endblock %}


{% block custom_js %}
<script src="assets/js/custom/apps/contacts/view-contact.js"></script>
{% endblock %}