{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% block breadcrums %}
<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">
        <a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
            <i class="ki-outline ki-home text-gray-700 fs-6"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Registrations</li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Industries</li>
    <!--end::Item-->
</ul>
<!--end::Breadcrumb-->
{% endblock %}

{% block pageheading %}
Profile
{% endblock %}
{% block pagedescription %}
Industry details
{% endblock %}

{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row justify-content-center">
            <!--begin::filters-->
            <div class="col-lg-8 col-xl-8">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <div class="card-header bg-info bg-gradient justify-content-center pt-5">
                        <h1 class="mb-0 text-white">{{ industry.name }} details</h1>
                    </div>
                    <div class="p-10">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Name</h4>
                                <h4>{% if industry.name %}{{ industry.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Industry Category</h4>
                                <h4>{% if industry.industry %}{{ industry.industry.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">State</h4>
                                <h4>{% if industry.state %}{{ industry.state.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">District</h4>
                                <h4>{% if industry.district %}{{ industry.district.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Point of Contact Name</h4>
                                <h4>{% if industry.point_of_contact_name %}{{ industry.point_of_contact_name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Email</h4>
                                <h4>{% if industry.email %}{{ industry.email }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Mobile</h4>
                                <h4>{% if industry.mobile %}{{ industry.mobile }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Area of Interest</h4>
                                <h4>
                                    {% if industry.area_of_interest.all %}
                                        {% for x in industry.area_of_interest.all %}
                                            {{ x.name }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <button class="btn btn-primary me-md-2" type="button"><a href="{% url 'industry_registrations_list' %}" style="color: white;"> Go Back</a></button>
                    {% if industry.status == 'pending' %}
                        <a href="{% url 'admin:registrations_industryregistrations_change' industry.id|escapejs %}" target="_blank">
                            <button class="btn btn-warning me-md-2" type="button">
                                Edit Industry Registration
                            </button>
                        </a>  
                        <button class="btn btn-info me-md-2" onclick="showApproveConfirmation('{{ industry.id|escapejs }}')" type="button">Approve registration</button>
                    {% elif industry.status == 'approved' %}
                        <button class="btn btn-success me-md-2" type="button">Registration approved</button>
                    {% endif %}  
                </div>
                <!--end::Contact group wrapper-->
            </div>
        </div>
        <!--end::Contacts App- View Contact-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
<!--begin::Footer-->
{% endblock %}

{% block custom_js %}
<style>
    .profile-icon {
        width: 80px; /* Increased icon size */
        height: 80px; /* Increased icon size */
        background-color: #007bff;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; /* Square-shaped */
        font-size: 24px; /* Increased font size */
        margin-right: 20px; /* Increased margin for better spacing */
    }
</style>
<script>
    function clearFilters() {
        document.getElementById('id_area_of_interest').value = '';
        document.getElementById('id_district').value = '';
        document.getElementById('id_industry').value = '';
        document.querySelector('form').submit();
    }

    function showApproveConfirmation(registration_id) {
        event.preventDefault();
        Swal.fire({
            text: "Do you really want to approve?",
            icon: "warning",
            showCancelButton: true,
            buttonsStyling: false,
            confirmButtonText: "Yes, approve it!",
            cancelButtonText: "No",
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: "btn btn-active-light"
            }
        }).then(function(result) {
            if (result.value) {
                // Make AJAX request to approve registration
                approveRegistration(registration_id);
            } else if (result.dismiss === 'cancel') {
                Swal.fire({
                    text: "Approval has been halted! You can approve again later.",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, got it!",
                    customClass: {
                        confirmButton: "btn btn-primary",
                    }
                });
            }
        });
    }

    function approveRegistration(registration_id) {
        // Make AJAX request
        $.ajax({
            url: '{% url 'industry_approve_registration' %}',
            type: 'POST',
            data: {
                'registration_id': registration_id,
                csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
            },
            success: function(response) {
                if (response.success) {
                    // Registration approved
                    Swal.fire({
                        text: "Approved!",
                        icon: "success",
                        buttonsStyling: false,
                        confirmButtonText: "Ok",
                        customClass: {
                            confirmButton: "btn btn-primary",
                        }
                    }).then(function() {
                        location.reload(); // Reload the page after approval
                    });
                } else {
                    // Approval failed
                    Swal.fire({
                        text: "Not approved!",
                        icon: "error",
                        buttonsStyling: false,
                        confirmButtonText: "Ok",
                        customClass: {
                            confirmButton: "btn btn-primary",
                        }
                    });
                }
            },
            error: function(xhr, status, error) {
                // Error handling
                console.error(xhr.responseText);
            }
        });
    }
</script>
{% endblock %}
