{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% block breadcrums %}

<!--begin::Breadcrumb-->
																<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">
																		<a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
																			<i class="ki-outline ki-home text-gray-700 fs-6"></i>
																		</a>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Profiles</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Startup's</li>
																	<!--end::Item-->
																</ul>
																<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Profiles
{% endblock  %}
{% block pagedescription %}
startup details
{% endblock  %}



{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row justify-content-center">
            <!--begin::filters-->
            <div class="col-lg-8 col-xl-8">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <div class="card-header bg-primary bg-gradient justify-content-center pt-5">
                        <h1 class="mb-0 text-white">StartUp Details</h1>
                    </div>
                    <div class="p-10">
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <h4 style="color: #007bff;">StartUp Logo</h4>
                                <div class="d-flex justify-content-center align-items-center" style="padding-right:60px;">
                                    {% if startup %}
                                    <div style="font-size: 36px; background-color: #007bff; color: white; width: 100px; height: 100px; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin-top: 15px;">                      
                                        {{ startup.name|slice:":1" }}
                                    </div>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">StartUp Name</h4>
                                        <h4>{% if startup %}{{ startup.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Area Of Interest</h4>
                                        <h4>{% if startup.area_of_interest %}{{ startup.area_of_interest.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Co-Founder Count</h4>
                                        <h4>{{ startup.co_founder_count }}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Team Size</h4>
                                        <h4>{{ startup.team_size }}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">State</h4>
                                        <h4>{% if startup.state %}{{ startup.state.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">District</h4>
                                        <h4>{% if startup.district %}{{ startup.district.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Website Link</h4>
                                        <h4>{% if startup.website %}{{ startup.website }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Preferred Investment Stage</h4>
                                        <h4>{% if startup.funding_stage %}{{ startup.funding_stage.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Funding Requirement Amount</h4>
                                        <h4>{{ startup.required_amount }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h4 style="color: #007bff;">Description</h4>
                                <p>{{ startup.description }}</p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h4 style="color: #007bff;">Pitch Deck</h4>
                                <!-- <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{% if startup.pitch_deck %}https://docs.google.com/presentation/d/{{ startup.pitch_deck }}/embed{% else %}# {% endif %}" allowfullscreen></iframe>
                                </div> -->
                                <h4>{% if startup.pitch_deck %}
                                    <div class="d-flex flex-column gap-1">
                                        <iframe src="https://dashboard/innovation-portal/media/url=https://docs.google.com/presentation/d/{{startup.pitch_deck}}/export/pdf" width="100%" height="400px"></iframe>
                                    </div>
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h4 style="color: #007bff;">Pitch Video</h4>
                                <!-- <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{% if startup.full_video %}{{ startup.full_video }}{% else %}# {% endif %}" allowfullscreen></iframe>
                                </div> -->
                                <h4>{% if startup.full_video %}
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{startup.full_video}}" frameborder="0" allowfullscreen></iframe>
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
               
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button class="btn btn-primary me-md-2" type="button"><a href="{% url 'startup_list_v2' %}" style="color: white;"> Go Back</a></button>
                
            </div>
            
           
           
                <!--end::Contact group wrapper-->
            </div>
        </div>
        <!--end::Contacts App- View Contact-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
<!--begin::Footer-->
{% endblock %}
 

{% block custom_js %}
<style>
    .profile-icon {
        width: 80px; /* Increased icon size */
        height: 80px; /* Increased icon size */
        background-color: #007bff;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; /* Square-shaped */
        font-size: 24px; /* Increased font size */
        margin-right: 20px; /* Increased margin for better spacing */
      }
  </style>
  <script>
    function clearFilters() {
        document.getElementById('id_area_of_interest').value = '';
        document.getElementById('id_district').value = '';
        document.getElementById('id_founding_experience').value = '';
        document.querySelector('form').submit();
    }
</script>
{%endblock %}