{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% block breadcrums %}

<!--begin::Breadcrumb-->
																<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">
																		<a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
																			<i class="ki-outline ki-home text-gray-700 fs-6"></i>
																		</a>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Registrations List</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Startup's</li>
																	<!--end::Item-->
																</ul>
																<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Profiles
{% endblock  %}
{% block pagedescription %}
startup's
{% endblock  %}



{% block page_content %}
							<div class="d-flex flex-column flex-column-fluid">
								<!--begin::Content-->
								<div id="kt_app_content" class="app-content flex-column-fluid">
									<!--begin::Contacts App- View Contact-->
									<div class="row g-7">
                                        <!--begin::filters-->
                                        <div class="col-lg-2 col-xl-2">
                                            <!--begin::Contact group wrapper-->
                                            <div class="card card-flush">
                                                <form method="get">
                                                    <div class="card-body">
                                                        {{ filter.form|crispy }}
                                                        <br>
                                                        <div class="d-grid">
                                                            <button type="submit" class="btn btn-primary">Apply Filters</button>
                                                            <div style="margin-top: 20px;"> <!-- Adjust margin-top value as needed -->
                                                                <button type="button" class="btn btn-secondary" onclick="clearFilters()">Clear Filters</button>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                            <!--end::Contact group wrapper-->
                                        </div>
                                        <!--end::filters-->
                                        <!--begin::profiles list-->
                                        <div class="col-lg-10 col-xl-10">
                                            <!--begin::Contacts-->
                                            <div class="card card-flush h-lg-100" id="kt_contacts_main">
                                                <!--begin::Card header-->
                                                <div class="card-header pt-7" id="kt_chat_contacts_header">
                                                    <!--begin::Card title-->
                                                    <div class="card-title">
                                                        <i class="ki-outline ki-badge fs-1 me-2"></i>
                                                        <h2>Startup Profiles</h2>
                                                    </div>
                                                    <!--end::Card title-->
                                                </div>
                                                <!--end::Card header-->
                                                <!--begin::Card body-->
                                                <div class="card-body pt-5" id="startup_profile_data">
                                                    <table class="table align-middle table-row-dashed fs-6 gy-5 rounded-3">
                                                        <thead class="bg-primary bg-gradient text-white">
                                                            <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                                                                <th><a href="?sort_by=company_name" class="text-white text-decoration-none" style="padding-left: 10px;">Startup Name</a></th>
                                                                <th><a href="?sort_by=year_of_establishment" class="text-white text-decoration-none">Year Of Establishment</a></th>
                                                                <th class="text-white text-decoration-none">District</th>
                                                                <th class="text-white text-decoration-none">Area of interest</th>
                                                                <!-- Add other columns here -->
                                                                <th class="text-white text-decoration-none">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="fw text-gray-900">
                                                            {% for startup in object_list %}
                                                            <tr>
                                                                <td>{{ startup.company_name }}</td>
                                                                <td>{{ startup.year_of_establishment }}</td>
                                                                <td>
                                                                    {% if startup.district %}
                                                                        {{ startup.district.name }}
                                                                    {% else %}
                                                                        N/A
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ startup.area_of_interest }}</td>
                                                                <td><a href="{% url 'startup_registration_details' startup.id %}" class="btn btn-primary" target='_blank'>View Details</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center">
                                                            {% if is_paginated %}
                                                                {% if page_obj.has_previous %}
                                                                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                                                {% else %}
                                                                    <li class="page-item disabled"><span class="page-link">First</span></li>
                                                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                                                {% endif %}
                                                                <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>
                                                                {% if page_obj.has_next %}
                                                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                                                                {% else %}
                                                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                                                    <li class="page-item disabled"><span class="page-link">Last</span></li>
                                                                {% endif %}
                                                            {% endif %}
                                                        </ul>
                                                    </nav>
                                                </div>
                                                <!--end::Card body-->
                                            </div>
                                            <!--end::Contacts-->
                                        </div>
                                        <!--end::profiles-->
                                    </div>
									<!--end::Contacts App- View Contact-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Content wrapper-->
							<!--begin::Footer-->
{% endblock %}


{% block custom_js %}
<style>
    .profile-icon {
        width: 80px; /* Increased icon size */
        height: 80px; /* Increased icon size */
        background-color: #007bff;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; /* Square-shaped */
        font-size: 24px; /* Increased font size */
        margin-right: 20px; /* Increased margin for better spacing */
      }
  </style>
  <script>
    function clearFilters() {
        document.getElementById('id_area_of_interest').value = '';
        document.getElementById('id_district').value = '';
        document.getElementById('id_preferred_investment_stage').value = '';
        document.getElementById('state').value = '';
        document.getElementById('dpiit_number').value = '';
        document.getElementById('reveune_stage').value = '';

        document.getElementById('primary_business_model').value = '';
        document.getElementById('id_development_stage').value = '';
        document.querySelector('form').submit();
    }
</script>
{%endblock %}