{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% block breadcrums %}

<!--begin::Breadcrumb-->
																<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">
																		<a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
																			<i class="ki-outline ki-home text-gray-700 fs-6"></i>
																		</a>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Registrations</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Startup's</li>
																	<!--end::Item-->
																</ul>
																<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Profiles
{% endblock  %}
{% block pagedescription %}
startup details
{% endblock  %}



{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row justify-content-center">
            <!--begin::filters-->
            <div class="col-lg-8 col-xl-8">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <div class="card-header bg-info bg-gradient justify-content-center pt-5">
                        <h1 class="mb-0 text-white">{{ startup.company_name }} details</h1>
                    </div>
                    <div class="p-10">
                        <div class="row mb-4">
                            <div class="col-md-3">
                                <h4 style="color: #007bff;">Startup Logo</h4>
                                <div class="d-flex justify-content-center align-items-center" style="padding-right:60px;">
                                    {% if startup.company_logo %}
                                    <div style="font-size: 36px; background-color: transparent; color: white; width: 100px; height: 100px; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin: 10px;">                      
                                        <img src="{{ startup.company_logo.url }}" alt="Company Logo" style="max-width: 100px; max-height: 100px; object-fit: cover;">     
                                    </div>
                                    {% else %}
                                    <div style="font-size: 36px; background-color: #007bff; color: white; width: 70px; height: 70px; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin: 10px;">                      
                                        {{ startup.company_name|slice:":1" }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">StartUp Name</h4>
                                        <h4>{% if startup %}{{ startup.company_name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Co-Founders Count</h4>
                                        <h4>{{ startup.co_founders_count }}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Funding Request Amount</h4>
                                        <h4>{{ startup.funding_request_amount }}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Established Year</h4>
                                        <h4>{{ startup.year_of_establishment }}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">State</h4>
                                        <h4>{% if startup.state %}{{ startup.state.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">District</h4>
                                        <h4>{% if startup.district %}{{ startup.district.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Area of Interest</h4>
                                        <h4>{% if startup.area_of_interest %}{{ startup.area_of_interest.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Preferred Investment Stage</h4>
                                        <h4>{% if startup.preferred_investment_stage %}{{ startup.preferred_investment_stage.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Primary Business Model</h4>
                                        <h4>{% if startup.primary_business_model %}{{ startup.primary_business_model.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Revenue Stage</h4>
                                        <h4>{% if startup.reveune_stage %}{{ startup.reveune_stage.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Client & Customer Size</h4>
                                        <h4>{{ startup.client_customer_size }}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Funds Raised</h4>
                                        <h4>{% if startup.fund_raised %}{{ startup.fund_raised.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">Development Stage</h4>
                                        <h4>{% if startup.development_stage %}{{ startup.development_stage.name }}{% else %}N/A{% endif %}</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 style="color: #007bff;">LinkedIn</h4>
                                        <h4>{{ startup.company_linkedin }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h4 style="color: #007bff;">Description</h4>
                                <p>{{ startup.company_description }}</p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h4 style="color: #007bff;">Pitch Deck</h4>
                                {% if startup.pitch_deck %}
                                <a href="{{ startup.pitch_deck.url }}" target="_blank">View Pitch Deck</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h4 style="color: #007bff;">Pitch Video</h4>
                                {% if startup.video_link %}
                                    <a href="https://{{ startup.video_link }}" target="_blank">View Video</a>
                                    {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <br>
               
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button class="btn btn-primary me-md-2" type="button"><a href="{% url 'startup_registrations_list' %}" style="color: white;"> Go Back</a></button>
                
            </div>
            
           
           
                <!--end::Contact group wrapper-->
            </div>
        </div>
        <!--end::Contacts App- Vie Contact-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
<!--begin::Footer-->
{% endblock %}
 

{% block custom_js %}
<style>
    .profile-icon {
        width: 80px; /* Increased icon size */
        height: 80px; /* Increased icon size */
        background-color: #007bff;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; /* Square-shaped */
        font-size: 24px; /* Increased font size */
        margin-right: 20px; /* Increased margin for better spacing */
      }
  </style>
  <script>
    function clearFilters() {
        document.getElementById('id_area_of_interest').value = '';
        document.getElementById('id_district').value = '';
        document.getElementById('id_founding_experience').value = '';
        document.querySelector('form').submit();
    }
</script>
{%endblock %}