{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% block breadcrums %}

<!--begin::Breadcrumb-->
																<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">
																		<a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
																			<i class="ki-outline ki-home text-gray-700 fs-6"></i>
																		</a>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Registrations</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">VC's</li>
																	<!--end::Item-->
																</ul>
																<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Profile
{% endblock  %}
{% block pagedescription %}
vc details
{% endblock  %}



{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row justify-content-center">
            <!--begin::filters-->
            <div class="col-lg-8 col-xl-8">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <div class="card-header bg-info bg-gradient justify-content-center pt-5">
                        <h1 class="mb-0 text-white"> Details</h1>
                    </div>
                    <div class="p-10">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Partner Name</h4>
                                <h4>{% if vc.partner_name %}{{ vc.partner_name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Firm Name</h4>
                                <h4>{% if vc.firm_name %}{{ vc.firm_name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Designation</h4>
                                <h4>{% if vc.designation %}{{ vc.designation }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Name</h4>
                                <h4>{% if vc.name %}{{ vc.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Email</h4>
                                <h4>{% if vc.email %}{{ vc.email }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Mobile</h4>
                                <h4>{% if vc.mobile %}{{ vc.mobile }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Deal Size Range Min</h4>
                                <h4>{% if vc.deal_size_range_min %}{{ vc.deal_size_range_min }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Deal Size Range Max</h4>
                                <h4>{% if vc.deal_size_range_max %}{{ vc.deal_size_range_max }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Deal Size Range</h4>
                                <h4>{% if vc.deal_size_range %}{{ vc.deal_size_range }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Deal Size Range USD</h4>
                                <h4>{% if vc.deal_size_range_usd %}{{ vc.deal_size_range_usd }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Portfolio Size</h4>
                                <h4>{% if vc.portfolio_size %}{{ vc.portfolio_size }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">District</h4>
                                <h4>{% if vc.district %}{{ vc.district.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">State</h4>
                                <h4>{% if vc.state %}{{ vc.state.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Area of Interest</h4>
                                <h4> 
                                {% if vc.area_of_interest.all %}
                                {% for x in vc.area_of_interest.all %}
                                    {{ x.name }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}  
                                </h4>                          
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Company Website</h4>
                                <h4>{% if vc.company_website %}<a  style="color:black;"href="{{ vc.company_website }}">{{ vc.company_website }}</a>{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">LinkedIn Profile</h4>
                                <h4>{% if vc.linkedin_profile %}<a style="color:black;" href="{{ vc.linkedin_profile }}">{{ vc.linkedin_profile }}</a>{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Company Portfolio Document</h4>
                                <h4>{% if vc.company_portfolio_document %}<a style="color:black;" href="{{ vc.company_portfolio_document.url }}">Click Here</a>{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Fund Type</h4>
                                <h4>{% if vc.fund_type %}{{ vc.fund_type }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>
                <!--end::Contact group wrapper-->


                    </div>
                </div>
                <br>

            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button class="btn btn-primary me-md-2" type="button"><a href="{% url 'vc_registrations_list' %}" style="color: white;"> Go Back</a></button>
                {% if vc.status == 'pending' %}
                    <a href="{% url 'admin:registrations_vcregistrations_change' vc.id|escapejs %}" target="_blank">
                        <button class="btn btn-warning me-md-2" type="button">
                            Edit VC Registration
                        </button>
                    </a>  
                    <button class="btn btn-info me-md-2" onclick="showApproveConfirmation('{{ vc.id|escapejs }}')" type="button">Approve registration</button>
                {% elif vc.status == 'approved' %}
                    <button class="btn btn-success me-md-2" type="button">Registration approved</button>
                {% endif %} 
            </div>



                <!--end::Contact group wrapper-->
            </div>
        </div>
        <!--end::Contacts App- Vie Contact-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
<!--begin::Footer-->
{% endblock %}


{% block custom_js %}
<style>
    .profile-icon {
        width: 80px; /* Increased icon size */
        height: 80px; /* Increased icon size */
        background-color: #007bff;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; /* Square-shaped */
        font-size: 24px; /* Increased font size */
        margin-right: 20px; /* Increased margin for better spacing */
      }
  </style>
  <script>
    function clearFilters() {
        document.getElementById('id_area_of_interest').value = '';
        document.getElementById('id_district').value = '';
        document.getElementById('id_founding_experience').value = '';
        document.querySelector('form').submit();
    }
    function showApproveConfirmation(registration_id) {
        event.preventDefault();
        Swal.fire({
            text: "Do you really want to approve?",
            icon: "warning",
            showCancelButton: true,
            buttonsStyling: false,
            confirmButtonText: "Yes, approve it!",
            cancelButtonText: "No",
            customClass: {
                confirmButton: "btn btn-primary",
                cancelButton: "btn btn-active-light"
            }
        }).then(function(result) {
            if (result.value) {
                // Make AJAX request to approve registration
                approveRegistration(registration_id);
            } else if (result.dismiss === 'cancel') {
                Swal.fire({
                    text: "Approval has been halted! You can approve again later.",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, got it!",
                    customClass: {
                        confirmButton: "btn btn-primary",
                    }
                });
            }
        });
    }

    function approveRegistration(registration_id) {
        // Make AJAX request
        $.ajax({
            url: '{% url 'vc_approve_registration' %}',
            type: 'POST',
            data: {
                'registration_id': registration_id,
                csrfmiddlewaretoken: '{{ csrf_token }}' // Include CSRF token
            },
            success: function(response) {
                if (response.success) {
                    // Registration approved
                    Swal.fire({
                        text: "Approved!",
                        icon: "success",
                        buttonsStyling: false,
                        confirmButtonText: "Ok",
                        customClass: {
                            confirmButton: "btn btn-primary",
                        }
                    }).then(function() {
                        location.reload(); // Reload the page after approval
                    });
                } else {
                    // Approval failed
                    Swal.fire({
                        text: "Not approved!",
                        icon: "error",
                        buttonsStyling: false,
                        confirmButtonText: "Ok",
                        customClass: {
                            confirmButton: "btn btn-primary",
                        }
                    });
                }
            },
            error: function(xhr, status, error) {
                // Error handling
                console.error(xhr.responseText);
            }
        });
    }
</script>
{%endblock %}