
{% extends 'dashboard/base.html' %}
{% load static %}

{% block breadcrums %}
<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">
        <a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
            <i class="ki-outline ki-home text-gray-700 fs-6"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Meetings</li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Calender</li>
    <!--end::Item-->
</ul>
<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Meetings
{% endblock  %}
{% block pagedescription %}
Calender 
{% endblock  %}


{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row g-7 justify-content-center">
            <!--begin::Contact groups-->
            <div class="col-lg-8 col-xl-8">
                <div class="card card-flush">
                    <div class="card-body">
                        <h5 class="card-title">Filter by Status:</h5>
                        <div class="d-flex align-items-center">
                            <select class="form-select" id="statusFilter">
                                <option value="all">All</option>
                                <option value="pending">Pending</option>
                                <option value="accepted">Accepted</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                            </select>
                            <button class="btn btn-primary ms-3" id="refreshButton">Refresh</button>
                        </div>
                    </div>

                <div id='calendar' style='width:100%;'></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block custom_js %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
        $('#statusFilter').change(function() {
            var status = $(this).val();
            fetchMeetingRequests(status);
        });

        // Initial fetch with 'all' status
        fetchMeetingRequests('all');
    });

    function fetchMeetingRequests(status) {
        $.ajax({
            type: 'GET',
            url: '{% url 'calendar_data' %}?status=' + status,
            success: function(data) {
                renderCalendar(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function renderCalendar(meeting_data) {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: meeting_data.map(function(meeting) {
                var backgroundColor, borderColor;


                if (meeting.sent_by === 'startup' && meeting.vc_name) {
                    backgroundColor = '#ffc107'; // Yellow for startup to VC
                    borderColor = '#ffc107';
                    title = meeting.start_up + ' - ' + meeting.vc_name;
                } else if (meeting.sent_by === 'vc' && meeting.start_up) {
                    backgroundColor = '#28a745'; // Green for VC to startup
                    borderColor = '#28a745';
                    title = meeting.vc_name + ' - ' + meeting.start_up;
                } else if (meeting.sent_by === 'sme' && meeting.start_up) {
                    backgroundColor = '#ff69b4'; // Pink for SME to startup
                    borderColor = '#ff69b4';
                    title = meeting.sme_name + ' - ' + meeting.start_up;
                } else if (meeting.sent_by === 'startup' && meeting.sme_name) {
                    backgroundColor = '#dc3545'; // Red for startup to SME
                    borderColor = '#dc3545';
                    title = meeting.start_up + ' - ' + meeting.sme_name;
                } else if (meeting.sent_by === 'sme' && meeting.industry_name) {
                    backgroundColor = '#ff69b4'; // Pink for SME to industry
                    borderColor = '#ff69b4';
                    title = meeting.sme_name + ' - ' + meeting.industry_name;
                } else if (meeting.sent_by === 'industry' && meeting.sme_name) {
                    backgroundColor = '#ffc107'; // Yellow for industry to SME
                    borderColor = '#ffc107';
                    title = meeting.industry_name + ' - ' + meeting.sme_name;
                } else if (meeting.sent_by === 'mentor' && meeting.start_up) {
                    backgroundColor = '#000000'; // Black for mentor to startup
                    borderColor = '#000000';
                    title = meeting.mentor_name + ' - ' + meeting.start_up;
                } else if (meeting.sent_by === 'startup' && meeting.mentor_name) {
                    backgroundColor = '#ffc107'; // Yellow for startup to mentor
                    borderColor = '#ffc107';
                    title = meeting.start_up + ' - ' + meeting.mentor_name;
                }


                return {
                    title:title,
                    start: meeting.meeting_date + 'T' + meeting.meeting_time,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                    url: "{% url 'meeting_details' 'model_type' 0 %}"
                    .replace('model_type', meeting.model_type)
                    .replace('0', meeting.meeting_id)
                };
            })
        });
        calendar.render();
    }
</script>


{% endblock %}
{% endblock %}

<!-- url: '/innovation-portal/meetings/meeting/' + meeting.meeting_id -->
 <!-- title: meeting.start_up + ' - ' + (meeting.vc_name || meeting.sme_name || meeting.mentor_name || meeting.industry_name), -->

<!--url:"{% url 'meeting_details' 0 %}".replace('0',meeting.meeting_id)-->
                <!-- if (meeting.sent_by === 'startup' && meeting.vc_name) {
                    backgroundColor = '#ffc107'; // Yellow for startup to VC
                    borderColor = '#ffc107';
                } else if (meeting.sent_by === 'vc' && meeting.vc_name) {
                    backgroundColor = '#28a745'; // Green for VC to startup
                    borderColor = '#28a745';
                } else if (meeting.sent_by === 'sme' && meeting.start_up) {
                    backgroundColor = '#ff69b4'; // Pink for SME to startup
                    borderColor = '#ff69b4';
                } else if (meeting.sent_by === 'startup' && meeting.sme_name) {
                    backgroundColor = '#dc3545'; // Red for startup to SME
                    borderColor = '#dc3545';
                } else if (meeting.sent_by === 'sme' && meeting.industry_name) {
                    backgroundColor = '#ff69b4'; // Pink for SME to industry
                    borderColor = '#ff69b4';
                } else if (meeting.sent_by === 'industry' && meeting.sme_name) {
                    backgroundColor = '#ffc107'; // Yellow for industry to SME
                    borderColor = '#ffc107';
                } else if (meeting.sent_by === 'mentor' && meeting.start_up) {
                    backgroundColor = '#000000'; // Black for mentor to startup
                    borderColor = '#000000';
                } else if (meeting.sent_by === 'startup' && meeting.mentor_name) {
                    backgroundColor = '#ffc107'; // Yellow for startup to mentor
                    borderColor = '#ffc107';
                } -->