{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrums %}
<!--begin::Breadcrumb-->
<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">
        <a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
            <i class="ki-outline ki-home text-gray-700 fs-6"></i>
        </a>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Meeting Details </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item">
        <i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
    </li>
    <!--end::Item-->
    <!--begin::Item-->
    <li class="breadcrumb-item text-white fw-bold lh-1">Request details</li>
    <!--end::Item-->
</ul>
<!--end::Breadcrumb-->
{% endblock %}

{% block pageheading %}
Meeting Details 
{% endblock %}

{% block pagedescription %}
Request Details
{% endblock %}

{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row g-7 justify-content-center">
            <div class="col-lg-6 col-xl-6">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <!--begin::Card header-->
                    <div class="card-header pt-7" id="kt_chat_contacts_header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Meeting Request Details</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <strong>Sender:</strong> {{ meeting_request.sender }}
                        </div>
                        <div class="mb-3">
                            <strong>Receiver:</strong> {{ meeting_request.receiver }}
                        </div>
                        <div class="mb-3">
                            <strong>Date:</strong> {{ meeting_request.date }}
                        </div>
                        <div class="mb-3">
                            <strong>Time:</strong> {{ meeting_request.time }}
                        </div>
                        <div class="mb-3">
                            <strong>Type:</strong> {{ meeting_request.get_meeting_type_display }}
                        </div>
                        <div class="mb-3">
                            <strong>Link:</strong> <a href="{{ meeting_request.meeting_details }}" target="_blank">{{ meeting_request.meeting_details }}</a>
                        </div>
                        <div class="mb-3">
                            <strong>Notes:</strong> {{ meeting_request.notes }}
                        </div>
                        <div class="mb-3">
                            <strong>Status:</strong> {{ meeting_request.get_status_display }}
                        </div>
                        <!-- {% if meeting_request.receiver == user and meeting_request.status == 'sent' %}
                        {% endif %} -->

                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <button id="backButton" class="btn btn-primary me-md-2" type="button">Go back</button>
                            
                        </div>

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                document.getElementById('backButton').addEventListener('click', function () {
                                    window.history.back();
                                });
                            });
                        </script> 
                         
                 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
