{% extends 'dashboard/base.html' %}
{% load static %}

<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />

{% block breadcrums %}

<!--begin::Breadcrumb-->
																<ul class="breadcrumb breadcrumb-separatorless fw-semibold">
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">
																		<a href="{% url 'dashboard_index' %}" class="text-white text-hover-primary">
																			<i class="ki-outline ki-home text-gray-700 fs-6"></i>
																		</a>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Profiles</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item">
																		<i class="ki-outline ki-right fs-7 text-gray-700 mx-n1"></i>
																	</li>
																	<!--end::Item-->
																	<!--begin::Item-->
																	<li class="breadcrumb-item text-white fw-bold lh-1">Student's</li>
																	<!--end::Item-->
																</ul>
																<!--end::Breadcrumb-->
{% endblock  %}

{% block pageheading %}
Profile
{% endblock  %}
{% block pagedescription %}
student details
{% endblock  %}



{% block page_content %}
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Contacts App- View Contact-->
        <div class="row justify-content-center">
            <!--begin::filters-->
            <div class="col-lg-8 col-xl-8">
                <!--begin::Contact group wrapper-->
                <div class="card card-flush">
                    <div class="card-header bg-warning bg-gradient justify-content-center pt-5">
                        <h1 class="mb-0 text-white">{{ student.name }} details</h1>
                    </div>
                    <div class="p-10">
                         <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Student Name</h4>
                                <h4>{% if student %}{{ student.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Institution</h4>
                                <h4>{% if student.institution %}{{ student.institution.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">State</h4>
                                <h4>{% if student.state %}{{ student.state.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">District</h4>
                                <h4>{% if student.district %}{{ student.district.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Area of Interest</h4>
                                <h4>
                                    {% if student.area_of_interest %}
                                    {% for x in student.area_of_interest.all %}
                                        {{ x.name }}
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    {% else %}N/A{% endif %}
                                </h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Department</h4>
                                <h4>{% if student.department %}{{ student.department.name }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Year of Graduation</h4>
                                <h4>{{ student.year_of_graduation }}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Gender</h4>
                                <h4>{% if student.gender %} {{student.gender }}{% else %}N/A{% endif %}</h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Highest Qualification</h4>
                                <h4>{{ student.highest_qualification }}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Paper Published</h4>
                                <h4>{{ student.paper_published }}</h4>
                           </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Project Idea</h4>
                                <h4>{{ student.project_idea }}</h4>
                            </div>
                            {% if request.user.user_role == 1 or request.user.user_role == 2 %}
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Project Guide Name</h4>
                                <h4>{{ student.project_guide_name }}</h4>
                            </div>
                            {% endif %}
                        </div>

                        {% if request.user.user_role == 1 or request.user.user_role == 2 %}
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Email</h4>
                                <h4>{{ student.email }}</h4>
                            </div>
                            <div class="col-md-6">
                                <h4 style="color: #007bff;">Mobile</h4>
                                <h4>{{ student.mobile }}</h4>
                            </div>
                        </div>
                        
                        {% endif %}
                    </div>
                </div>
                <br>
               
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button class="btn btn-warning me-md-2" type="button"><a href="{% url 'student_profiles_list' %}" style="color: white;"> Go Back</a></button>
                
            </div>
            
           
           
                <!--end::Contact group wrapper-->
            </div>
        </div>
        <!--end::Contacts App- Vie Contact-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
<!--begin::Footer-->
{% endblock %}
 

{% block custom_js %}
<style>
    .profile-icon {
        width: 80px; /* Increased icon size */
        height: 80px; /* Increased icon size */
        background-color: #007bff;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; /* Square-shaped */
        font-size: 24px; /* Increased font size */
        margin-right: 20px; /* Increased margin for better spacing */
      }
  </style>
  <script>
    function clearFilters() {
        document.getElementById('id_area_of_interest').value = '';
        document.getElementById('id_district').value = '';
        document.getElementById('id_founding_experience').value = '';
        document.querySelector('form').submit();
    }
</script>
{%endblock %}